@charset "utf-8";


:root {
    --primary-color: ;
    --secondary-color: ;
    --text-color: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#skrollr-body {
    height: fit-content !important;
}

html,
body {
    font-size: 15px;
    max-width: 100%;
    font-family: 'Rubik', 'Noto Sans TC', sans-serif;
    letter-spacing: .6pt;
    color: #353535;
    background: #fdfdfd;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    clear: both;
}


li {
    list-style: none
}

a {
    text-decoration: none;
    transition: .5s;
    -webkit-transition: .2s;
    color: #1b82bd;
}

a:hover {
    color: #1b82bd;
    transform: .3s ease-out;

}

a:visited {
    color: #1b82bd;
}


a:active {
    color: #1b82bd;
}


img {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
}


.line {
    position: absolute;
    background-image:
        linear-gradient(90deg, rgba(255, 255, 255, 0.459) 1px, transparent 0);
    background-size: 10%;
    width: 100%;
    height: 100%;
}

.btn_menu-m {
    display: none;

}


.btn_focus a {
    color: #7c7873 !important;
    font-size: 1rem !important;
    /* height: 30px; */
    padding: 10px 20px !important;
    margin: 13px 0 !important;
    background: #d5ccc3 !important;
    border-radius: 15px !important;

}

.btn_focus a:hover {
    border-radius: 15px !important;
    background: #eee6dd !important;


}



#header-m {
    display: none;
}

/* 卷軸顏色 */

::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(61, 61, 61, 0.753);
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;

}

::-webkit-scrollbar-track-piece {
    background: #eeeeee;
}



section {
    height: 100vh;
    position: relative;
}


button {
    background: none;
    border: none;

}



#gotop {
    display: none;
    position: fixed;
    right: 2%;
    bottom: 5%;
    border-radius: 10px;
    background: #383838d1;
    box-shadow: 5px 5px 25px #6e6e6ed1;
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    border: #ffffff5c 2px solid;
    transition: .3s;

}

#gotop:hover {
    background: #383838fd;
    bottom: 4.5%;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);

}


.next {
    width: 80px;
    height: 50px;
    margin: auto;
    padding: 10px;
    text-align: center;
    /* background: #afafaf; */
    border-radius: 20px;
}

.next a {
    color: #6a6a6a;
    display: block;
}

.next-arrow {
    border: solid rgb(87, 87, 87);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(44deg);
}




#header {
    background: #ececec3b;
    /* background: linear-gradient(90deg, #74ccff82, #c1ca4484); */
    backdrop-filter: blur(3px);
    width: 100%;
    z-index: 99;
    top: 0;
    position: fixed;
    color: #dddacb;
    border-bottom: 1px solid #f9f9f966;

}

#header a {
    color: #fafafa !important;
}

#header-bg {
    /* background:  url(../img/bg8.jpg) fixed no-repeat #bdbdbd8a; */
    /* background:  url(../img/cat.jpg) fixed no-repeat #652d0c; */
    width: 100%;
    position: fixed;
    z-index: 99;
    clear: both;
    top: 0%;

}

#header-open {
    width: 100%;
    z-index: 99;
    top: 0;
    position: relative;
    clear: both;

}



#header-fixed {
    background: linear-gradient(90deg, #d9d9d987, #e3e3e3bf);
    background: #ffffff54;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.13);
    width: 75vw;
    border-radius: 15px;
    color: #333;
    z-index: 99;
    height: 65px;
    margin: auto;
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    overflow: hidden;
    opacity: 0;

    animation: index_open 1.5s ease 1.5s 1 forwards;
    /* animation-duration: 1.5s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards; */

}

@keyframes index_open {
    0% {
        top: 1vh;
        width: 70vw;
        opacity: 0;
    }

    100% {
        top: 3vh;
        width: 75vw;
        opacity: 1;
    }
}


#header-container {
    max-width: 70vw;
    margin: auto;

}


.typing {
    font-size: 2.9em;
    overflow: hidden;
    font-weight: bold;
    line-height: 5rem;

}



#open-logo {
    margin: auto;
    height: 50px;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5vh 0;
    position: absolute;
    top: 0;
    left: 15%;
    text-align: left;
}

#open-logo a {
    color: #333333;
    /* text-shadow: 1px 9px 9px #fdfdfdde; */
}

#open-logo a:hover {
    color: #2b2b2b;
    transform: .3s ease-out;
}

#open-bg {
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    background: linear-gradient(263deg, #acd2e9, #ffd9b6, #fff6e6);

    /* background: url(../img/bg.jpg) fixed no-repeat;  */
    /* background: linear-gradient(187deg, #db9f41, #bd735b, #ffeac6);
    padding-bottom: 25px;
    z-index: 66;
    position: relative;
    /* background: linear-gradient(315deg, rgb(144 189 215 / 22%) 25%, rgb(255 255 255) 0, rgb(255 211 170) 50%, #fff 0, #dfddd8 75%, rgb(255 196 123 / 24%) 0);
    background-size: 400px 400px; */
    background-attachment: fixed;
}


#open {
    width: 80vw;
    height: 80vh;
    margin: 0 10vw;
    /* padding-top: 5vh; */
    border-radius: 20px;
    padding-top: 20vh;
    /* background: radial-gradient(ellipse at center, #ffffff, #cdc9c6); */
    /* background: #f2f2f2; */
    text-align: center;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
    /* box-shadow: -1px 9px 20px -5px rgb(255 237 198 / 50%); */
    z-index: 66;
    position: relative;
    background-color: #efefef86;
    border: solid 4px #ffffff88;
    color: #606060;
    box-shadow: 0 5px 20px -13px rgb(159 102 42);

}

.open-f {
    height: 15vh;
    text-align: center;
    padding: 20px 25px;
    font-size: 15rem;
    font-weight: 100;
    line-height: 3rem;
    color: #f5f5f531;
    text-align: center;
    z-index: 0;
}


#open_pic {
    width: 60%;
    height: 100vh;
    /* background: linear-gradient(45deg, rgb(144 189 215 / 22%) 25%, rgb(255 255 255) 0, rgb(255 211 170) 50%, #fff 0, #dfddd8 75%, rgb(255 196 123 / 24%) 0); */
    background: linear-gradient(315deg, rgb(144 189 215 / 22%) 25%, rgb(255 255 255) 0, rgb(255 211 170) 50%, #fff 0, #dfddd8 75%, rgb(255 196 123 / 24%) 0);
    background-size: 500px 500px;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 13px 6px 10px #9696963d;
    writing-mode: vertical-lr;
}

.open-describe {
    color: #333333;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1pt;
    line-height: 3rem;
    margin: auto;
    margin-bottom: 2vh;
    z-index: 95;
    opacity: 0;
    animation-name: open-des;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 66;
    position: relative;
}


@keyframes open-des {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}


h1 {
    letter-spacing: .1pt;
    font-weight: bold;
    margin: auto;
    color: #0f0f0f;

}



.myslogan {
    font-size: 1.3rem;
    opacity: 0;

    animation-name: slogan;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


@keyframes slogan {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    100% {

        margin-top: 10px;
        opacity: 1;

    }
}




mark {
    padding: 2px 1px;
    border-radius: 5px;
    /* background: linear-gradient(transparent 25%, rgba(255, 255, 255, 0) 50%, #ffffff 65%, #eee17c62 85%, transparent 90%) */
    color: #ffffff;
    background: linear-gradient(transparent 25%, rgba(22, 22, 22, 0) 50%, #4a4a4a 65%, #eee17c62 85%, transparent 90%)
}



.open-cta-area {
    width: 100%;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    position: relative;
    z-index: 98;
    justify-content: center;
    opacity: 0;
    animation-name: open-cta;
    animation-duration: 1.8s;
    animation-delay: .8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes open-cta {
    0% {
        margin-top: 150px;
        opacity: 0;
    }

    100% {
        margin-top: 100px;
        opacity: 1;
    }
}

/* 
@keyframes open-cta {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: .5;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: .5;
    }

    100% {

        opacity: 1;
    }
}
 */



.main-cta {
    border-radius: 30px;
    background: #2e2e2e;
    color: #ececec;
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1), 0px 4px 25px rgba(0, 0, 0, 0.188);
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 140px;
    height: 50px;
    margin: 10px 20px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: .1rem;
    cursor: pointer;
}


.main-cta:hover {
    background: #141414e3;
    box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(29, 22, 19, 0.15);
}



.main-cta-t {
    width: auto;
    padding-left: 20%;
    padding-right: 4%;
}


.cta-arrow {
    width: 3px;
    animation-name: cta-arrow;
    animation-duration: .6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    /*來回移動*/
}

@keyframes cta-arrow {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 5px;
    }
}


.else-cta {
    border-radius: 30px;
    background: #ededed9e;
    color: #696969;
    box-shadow: 0px -6px 10px white, 0px 4px 25px rgb(43 40 32 / 20%);
    margin: 10px;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    font-weight: 300;
    transform: 1s;
    -moz-transform: 1s;
}

.else-cta a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 130px;
    height: 48px;
    font-weight: 400;
    color: #4c4a47;
}

.else-cta a:hover {
    box-shadow: inset 0px -2px 5px white, inset 0px 2px 5px rgba(0, 0, 0, 0.15);
    border: 25px solid rgba(29, 29, 29, 0.981);
    box-sizing: border-box;
    color: #dbdbdb;
    transition: .1s ease-out;

}



/* Outline Inward */
.outline-inward {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);

}


.outline-inward:before {
    content: "";
    position: absolute;
    border: #ffffff solid 3px;
    border-radius: 35px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: top right bottom left;
}

.outline-inward:hover:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 1;
}



#logo {
    padding: 23px;
    width: 25%;
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    z-index: 88;
    float: left;

    /* animation-name: loading;
    animation-duration: 0.3s;
    animation-delay: 1.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards; */
}

/* 
@keyframes loading {
    0% {
        font-size: 1.5rem;
    }

    100% {
        font-size: 1.3rem;
    }
} */


#logo a {
    color: #1e1e1e !important;
}

#logo a:hover {
    color: #d17537 !important;
    transition: .2s ease-out;
}



#intro-area-bg {
    width: 100%;
    height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    /* background: #F6F6F6; */
    background: linear-gradient(347deg, #494949, #4b4b4b, #7e7368);
    position: relative;
    /* border-top: #ffffffd9 1px solid; */

}



#intro-area {
    width: 66vw;
    padding-left: 16vw;
    padding-right: 12vw;
    height: 95vh;
    padding-top: 30vh;
    /* background: linear-gradient(321deg, rgb(144 189 215 / 22%) 25%, rgb(255 255 255) 0, rgb(255 246 238) 50%, #fff 0, #dfddd8 75%, rgb(255 196 123 / 24%) 0); */
    background: linear-gradient(321deg, rgb(228 238 243) 25%, rgb(255 255 255) 0, rgb(255 246 238) 50%, #fff 0, #dfddd8 75%, rgb(239 226 210) 0);
    background-size: 1050px 780px;
    color: #2c2c2c;
    border-bottom-right-radius: 150px;
    /* text-shadow: 13px 6px 10px #9696963d; */
    opacity: 0;
    z-index: 5;
    box-shadow: 2px 5px 20px -5px #41382ff0;
    animation: open-area 1s ease 0s 1 forwards;
}


@keyframes open-area {
    0% {
        opacity: 0;
        margin-left: -200px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }

}


:root {
    --text: #2b2b2b;
    --background: #bfbfbf;
    --primary: #d4c1a7;
    --secondary: #c2cee0;
    --accent: #9e9471;
}

/*漸層字樣式*/
.colorful {
    background: linear-gradient(120deg, var(--primary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*空心字樣式*/

.nocolor {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text);
    color: transparent;
}


.intro-tit {
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 5rem;
    padding: 0 0 30px 0;
    /* color: #485077; */
    /* opacity: 0;
    animation: open-tit .8s ease 0s 1 forwards; */

}

/* @keyframes open-tit {
    0% {
        opacity: 0;
        margin-left: -20px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }

} */


.intor-text {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2.8rem !important;
    color: #494949;
    opacity: 0;
    animation: open-t 1s ease .5s 1 forwards;

}

@keyframes open-t {
    0% {
        opacity: 0;
        margin-left: -10px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }


}


#photo {
    width: 200px;
    height: 100vh;
    margin-left: -5%;
    margin-right: -4.5%;
    padding-top: 25vh;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

#photo img {
    max-width: 180px;
    border-radius: 100%;
    opacity: 0;
    animation: index-photo .5s ease 1.5s 1 forwards;
    filter: drop-shadow(4px 3px 8px rgba(59, 58, 54, 0.3));

}

@keyframes index-photo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}

#info {
    width: 40%;
    padding-left: 8vw;
    background: linear-gradient(347deg, #494949, #4b4b4b, #7e7368);
    color: #ffffff;
    height: 100vh;
    padding-top: 43vh;
    position: relative;
    z-index: 0;
    opacity: 0;
    animation: index-info .7s ease 1.2s 1 forwards;

}

@keyframes index-info {
    0% {
        opacity: 0;
        /* margin-left: 20px; */
    }

    100% {
        opacity: 1;
        /* margin-left: 0; */
    }


}


#trait-bg {
    width: 100%;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 1vh;
    /* height: 100vmax; */
    height: fit-content;
    margin-bottom: 10vh;
    max-width: 1000px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    position: relative;

}

#trait {
    width: 100%;
    min-height: 80vh;

}

.wrap {
    max-width: 850px;
    margin: 10vh auto 0 auto;
}

.question {
    margin: 0 auto 5vh auto;
}

.question ul {
    padding: 15px 30px;
    line-height: 3rem;
    font-weight: 500;
}

.question ul li {
    list-style-type: '． ';
    margin-left: 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;

}

.question h3 {
    color: #333333;
    /* border: 1px solid #dddddd; */
    background: linear-gradient(45deg, #efefef, #ffefef40);
    border-radius: 5px;
    padding: 15px 35px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
    position: relative;
    z-index: 3;
}


.question p {
    color: #000000;
    line-height: 2.5rem;
    font-size: 1.1rem;
    padding: 20px 30px;
    /* background: #f5f5f5; */
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top: -5px;
    position: relative;
    z-index: 0;

}



.trait-area {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 7vh;
}

.trait-item {
    width: 100%;
    margin: 5vh auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
}

.trait {
    width: 100%;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 10px 5px;
    border-bottom: 3px solid #313131;
    /* border-radius: 10px; */
    color: #121212;
}

/* .trait::after {
    content: '： ';
} */

.trait-ex-area {
    width: 100%;
}

.trait-ex-area ul {
    width: 100%;
    padding: 10px 5px;
    font-size: 1.2rem;
    line-height: 2rem;

}

.trait-ex-area ul li {
    list-style-type: none;
    margin: 0px;
    width: 100%;
    padding: 10px 15px;
    font-size: 1.2rem;
    line-height: 2rem;
    border-bottom: 1px #666666 dashed;
}


.name {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 2pt;
}

.name::after {
    content: 'Renee, Yang';
    padding-left: 7px;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: .5pt;
}

.job-title {
    font-size: 1.1rem;
    padding-top: 3px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: .8pt;
}


.text {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin-left: -8px;
}

.text li {
    list-style-type: none;
    margin-left: 5px;
}

.text li::before {
    content: '． ';

}



#contact-icon-area p {
    padding: 5px;
}


#contact-icon-area a {
    color: #ebebea;
    font-weight: 100;
    width: 110px;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid #e3dcd780;
    border-radius: 8px;
    background: #81818178;
    margin-top: 2vh;
    margin-left: 20px;
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 15px -5px #fff3e456;

}

#contact-icon-area a:hover {
    margin-top: 2.2vh;
    background: #363331da;
    color: #ffffff;
    font-weight: 300;
    border: 2px solid #303030bd;
    box-shadow: 2px 3px 20px -2px #fff3e456;
}

/* 
.text li::before {
    content: '▪　';
    font-weight: 200;
    color: #b1b1b1;
} */



.about-title {
    width: 98vmax;
    font-size: 3.5rem;
    font-weight: bold;
    margin: auto;
    /* color: #ebebeb; */
    color: #303030;
}



.about-describe {
    color: #2c2c2c;
    max-width: 700px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 4rem;
    margin: auto;
    margin-top: 5vh;
    position: relative;
    z-index: 95;

}


.next-btn {
    position: absolute;
    bottom: 1vh;
    left: 49%;

}

.next-btn-work {
    position: absolute;
    top: 80vh;
    left: 49%;

}

.next-btn2 {
    position: absolute;
    bottom: 5px;
    left: 49%;

}


.next-btn-m {
    position: absolute;
    top: 85vh;
    left: 46%;

}

.next-btn a {
    color: #7a7a7a;
    display: block;
    text-align: center;
    position: absolute;
    left: 28%;
    bottom: 30px;
    /* 
    animation-name: next-arrow; 
    animation-duration: .8s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;*/
}

.next-btn a:hover {
    color: #000000;
    transform: .5s ease-out;
}

/* @keyframes next-arrow {
    0% {
        bottom: 25px;
        opacity: 1;
    }



    100% {
        bottom: 35px;
        opacity: 0;
    }
}
 */


.btn-work a {
    background: #434345;
    border-radius: 30px !important;
    width: 100px;
    color: #f5f5f5 !important;
    text-align: center;
    height: 40px;
    padding-top: 13px !important;
    margin-top: 12px !important;
    float: right;
    margin-right: 1vw;
}



.btn-work a:hover {
    color: #2e2e2e !important;
    background: #e09838;
    display: block;
}

.mouse {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333333;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }


}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}



.mouse2 {
    width: 50px;
    height: 70px;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 3px;
        height: 3px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #444444;
        border-radius: 50%;
        opacity: 0;
        animation: wheel2 2s infinite;
        animation-delay: 1s;
        animation-duration: .5s;
        -webkit-animation: wheel2 2s infinite;
    }
}


@keyframes wheel2 {
    0% {
        opacity: 0;
        top: 50px;
        width: 5px;
        height: 5px;
    }

    50% {
        opacity: .8;
        top: 80px;
    }

    75% {
        opacity: .6;
        top: 100px;
        width: 4px;
        height: 4px;
    }

    100% {
        opacity: 0;
        top: 100px;
        width: 4px;
        height: 4px;
    }
}

@-webkit-keyframes wheel2 {
    0% {
        opacity: 0;
        top: 50px;
        width: 2px;
    }

    50% {
        opacity: 1;
        top: 80px;
        width: 3px;
    }

    80% {
        opacity: 0;
        top: 100px;
        width: 5px;
    }

    100% {
        opacity: 0;
        top: 100px;
        width: 8px;
    }
}





.mouse3 {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 7px;
        height: 7px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #747474;
        border-radius: 50%;
        opacity: 1;
        animation: wheel3 2s infinite;
        -webkit-animation: wheel3 2s infinite;
    }
}

@keyframes wheel3 {
    to {
        opacity: 0;
        top: 30px;
    }


}

@-webkit-keyframes wheel3 {
    to {
        opacity: 0;
        top: 30px;
    }
}



.mouse4 {
    width: 50px;
    height: 70px;
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 3px;
        height: 3px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #7c7c7c;
        border-radius: 50%;
        opacity: 0;
        animation: wheel4 2s infinite;
        animation-delay: 1s;
        animation-duration: .5s;
        -webkit-animation: wheel2 2s infinite;
    }
}


@keyframes wheel4 {
    0% {
        opacity: 0;
        top: 50px;
        width: 5px;
        height: 5px;
    }

    50% {
        opacity: .8;
        top: 80px;
    }

    75% {
        opacity: .6;
        top: 100px;
        width: 4px;
        height: 4px;
    }

    100% {
        opacity: 0;
        top: 100px;
        width: 4px;
        height: 4px;
    }
}

@-webkit-keyframes wheel4 {
    0% {
        opacity: 0;
        top: 50px;
        width: 2px;
    }

    50% {
        opacity: 1;
        top: 80px;
        width: 3px;
    }

    80% {
        opacity: 0;
        top: 100px;
        width: 5px;
    }

    100% {
        opacity: 0;
        top: 100px;
        width: 8px;
    }
}




/*首頁大標題*/
h2 {
    font-size: 2.6rem;
    font-weight: bold;
    color: #312c27;
    text-align: center;
    line-height: 4rem;
    padding: 5vh 0 2vh 0;
}


.yellow {
    /* color: #dbae5d; */
    color: #ffeacd;
}

.gray {
    /* color: #b9b9b9; */
    color: #e9e9e9;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #757575;
}


.light {
    color: #dddacb;
}

.w {
    color: #ffffff;
}


.title-describe {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 35px;
}

#tool-bg {
    width: 100%;
    height: 100vh;
    /* background: #2b2b2b; */
    background: #e7e7e7;
    min-height: 100vh;
    padding-top: 5vh;
    /* border-top: 2px solid #ffffff; */
    position: relative;
    border-bottom: #f7f7f7e1 1px solid;
}


.tool-group {
    max-width: 1080px;
    margin: auto;
    padding: 3vh;
}

/* .tool-group h2{
    color: #ffffff;
} */

.tool-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 純白
.tool {
    margin: 1vh .5vw;
    height: 8vh;
    margin-bottom: 1vh;
    width: 23%;
    display: flex;
    background: #fffffff0;
    border: 2px solid #ffffff;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 5px 5px 20px -10px #7474748c;
    align-items: center;
} */


.tool {
    margin: 1vh .5vw;
    height: 8vh;
    margin-bottom: 1vh;
    width: 23%;
    display: flex;
    background: #fffffff0;
    color: #4f4f4f;
    border: 2px solid #ffffff;
    border-radius: 7px;
    padding: 15px;
    align-items: center;
    box-shadow: 10px 5px 20px -8px #a39489d1;
    /* box-shadow: 7px 12px 20px -8px #ffa03f59; */

}

.tool-icon {
    padding: 0 5px;
}

.tool-icon img {
    max-width: 35px;
    height: auto;
}

.tool-name {
    max-width: 300px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}

#skill-bg {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 10vh;

    /* background-image: radial-gradient(
        circle at 50% 0%,
        rgb(67, 54, 74) 16.4%,
        rgb(47, 48, 67) 68.2%,
        rgb(27, 23, 36) 99.1%
    ); */


    background: linear-gradient(179deg, #8f8f8f, #eddfd2, #fff6e6);
    background-attachment: fixed;
    border-bottom: #f7f7f7e1 1px solid;
    position: relative;
}

#skill {
    width: 80%;
    padding-top: 10vh;
    height: 90vh;
    margin: auto;
    display: flex;
    font-size: 1.1rem;
    line-height: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

}


.skill-area {
    width: 25%;
    margin: 0 12px;
    min-height: 440px;
    background: #ffffffd9;
    border: 1px solid #fff;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0px 0px 30px -10px #6d6d6d61;

}

.skill-tit {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: #cfcfcfd9 2px solid;
    padding-left: 10px;
}

.skill li {
    list-style-type: '． ';
    list-style-position: inside;
    line-height: 2.5rem;
    /* margin-left: 20px; */

}


#work-exp-bg {
    max-width: 100vw;
    margin: auto;
    background: linear-gradient(347deg, #776e64, #494949, #4a4a4a);
    height: fit-content;
    padding-bottom: 5vh;
    padding-top: 10vh;
    transition: .2s;
    position: relative;
}

#work-exp-area {
    max-width: 800px;
    margin: auto;
    height: auto;

}

/*包覆 工作tit 和 工作細項,分兩欄呈現*/
.work {
    max-width: 100%;
    /* border: 2px solid #ffffff9e;
    border-radius: 10px; */
    margin: 50px 0;
    /* padding-bottom: 35px; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* box-shadow: 5px 10px 30px -10px #bababa9e; */
    position: relative;

}



/*整個 職務 tit 區域*/
.work-tit-area {
    width: 100%;
    height: inherit;
    padding: 5px 0 20px 60px;
    border-left: #ffbb66 5px solid;
    /* background: #ffffff; */

}


.during-work {
    padding: 5px 15px 0 0;
    border-right: 2px solid #b3a488;
    margin-right: 15px;
}

.work-tit {
    width: 100%;
    font-size: 2rem;
    line-height: 4.5rem;
    font-weight: 500;
    color: #ffc179;
}

/* .work-tit span{
    font-size: 1.1rem;
    line-height: 4.5rem;
    font-weight: 600;
    padding: 5px 10px;
    color: #587d9f;
} */

.company {
    width: 100%;
    margin-top: -25px;
    font-weight: 600;
}

.company-circle {
    width: 16px;
    height: 16px;
    background-color: #67615b;
    border: 4px solid #fbb965;
    border-radius: 50%;
    margin-left: -70px;
    margin-bottom: -40px;
    margin-top: 20px;
}

.company-logo {
    width: 65px;
    height: 35px;
    float: left;
}

.company-logo img {
    max-width: 50px;
    height: auto;
}


.work-tit-detal {
    width: 100%;
    font-weight: 500;
    display: flex;
    flex-wrap: nowrap;
    color: #eed6aa;
}

.company-name {
    width: auto;
    padding: 0 20px 0 0;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;

}

.company-name img {
    width: 16px;
    height: auto;
    margin: 5px;
}


.company-describe {
    font-size: 1rem;
    line-height: 1rem;
    padding: 5px 20px 0 15px;
    border-left: 2px solid #b3a488
}

.company-describe2 {
    font-size: 1rem;
    line-height: 1rem;
    padding: 5px 20px 0 15px;
    border-left: 2px solid #b3a488
}

/*工作內容細項*/

.work-detal {
    /* background: rgb(255 255 255 / 95%); */
    border-left: #7b7b7b 5px solid;
    backdrop-filter: blur(3px);
    color: #ffffff;
    padding: 10px 30px 0 70px;
    font-size: 1.1rem;
    line-height: 2.4rem;
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.work-detal li {
    list-style-type: '． ';
    margin-left: 20px;
}




.tit {
    font-size: 2rem;
    font-weight: bold;
}

#pic-area {
    width: 100%;
    min-height: 30px;
    margin: auto;
    text-align: center;
    background: #d4c6b8;
    background-image: url(../img/bg1.JPG);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}


#intro-bg {
    height: fit-content;
    width: 100%;
    padding: 10vh 0 0 0;
    background: radial-gradient(ellipse at center, #ffffff, #f7f7f7);
}



.inside-content {
    max-width: 820px;
    margin: 3vh auto 5vh auto;
}

.thank {
    max-width: 600px;
    margin: 10vh auto 0 auto;
    text-align: center;
    line-height: 1.7rem;

}


.inside-tit {
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    padding: 3rem 0 1rem 0;
    color: #000000;
}

.inside-text {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.indsie-pic {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2vh;
}

.intro-pic {
    width: 45%;
    margin: 15px;
    border: 30px solid #d7d7d7;
}

footer {
    width: 100%;
    margin: auto;
    min-height: 50px;
    padding-top: 3vh;
    padding-bottom: 5vh;
    font-size: 1rem;
    color: #8d8d8d;
    text-align: center;

}


#daily-bg {
    width: 100%;
    padding-top: 10vh;
    background: linear-gradient(#eeeeee, #ffffff);
}

.daily-area {
    max-width: 1200px;
    margin: auto;
}


#interest_area {
    width: 100%;
    height: 200px;
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
}

.interest {
    min-width: 250px;
    min-height: 200px;
    margin: 7px;
}

.interest img {
    max-width: 250px;
    margin: 0 15px;
    max-height: 200px;
    overflow-y: hidden;
    border-radius: 10px;
    margin-bottom: 25px;
}

.interest-tit {
    max-width: 250px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 15px;
}

.interest-text {
    font-size: 1.1rem;
    line-height: 1.8rem;
    max-width: 250px;
    margin: 10px 15px;
}


.btn-mywork a {
    width: fit-content;
    padding: 15px 30px;
    margin: 5vh auto;
    background: #ffffff48;
    border-radius: 8px;
    border: 2px solid #272727a6;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn-mywork a:hover {
    background: #272727f6;
    border: 2px solid rgba(41, 41, 41, 0.808);
    color: #ffffff;
}





/*--------------------------------風琴收合作品集區塊--------------------------------------*/



#case-area {
    width: 100%;
    height: 105vh;
    padding-top: 11vh;
    position: relative;
    background: linear-gradient(87deg, #2b2b2b, #1c1c1c);
}


#case {
    display: none;

}

.case-box {
    max-width: 100%;
    height: 100%;
    position: relative;
    background: #2a2b2b;
    border: #cccccc 1px solid;
    border-radius: 5px;
    overflow: hidden;
}

.case {
    width: 85vw;
    height: 70vh;
    display: flex;
    gap: 7px;
    margin: auto;
}


.case .item {
    flex: 1 1;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out;
    border: 3px solid #a5a5a530;
}


.case .item a {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: #0000007a;
    transition: .3s ease-in-out;
}


.case .item a:hover {
    width: 100%;
    height: 100%;
    background: none;
    transition: .3s ease-in-out;
}


.case .item:hover {
    border-radius: 10px;
    border: #171717a6 4px solid;
    transition: .3s ease-in-out;
    background-position: top;
}


.case .item1 {
    flex: 4 1;
}


.case-tit {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 10px;
    z-index: 88;
    opacity: 1;

}


.case-info {
    position: relative;
    /* margin-bottom: -49.5vh; */
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    z-index: 88;
    opacity: 1;

}

.case .item:hover .case-tit {
    opacity: 0;
    transition-delay: .2s;
    transition-duration: .4s;
}

.case .item:hover .case-info {
    opacity: 0;
    transition-duration: .4s;
}


.case .item:hover .case-tit.case-info {
    opacity: 1;
}

.case .item:nth-child(1) {
    background-image: url(../portfolio/page/000.jpg);

}

.case .item:nth-child(2) {
    background-image: url(../portfolio/page/001.jpg);
}


.case .item:nth-child(3) {
    background-image: url(../portfolio/page/004.jpg);
}

.case .item:nth-child(4) {
    background-image: url(../portfolio/page/007.jpg);
}




.case-box a {
    max-width: 100%;
    padding-top: 43.2vh;
    height: auto;
    position: relative;
    z-index: 80;
    display: block;
    opacity: .5;

}

.case-box a:hover {
    opacity: 1;
    color: #ffffff;
    text-shadow: 3px 3px 15px #5b5b5b8d;

}

.light {
    color: #f1f1f1;
    font-size: 2rem;
    font-weight: 500;
}

.tit-en {
    font-size: .9rem;
    line-height: 2rem;
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-top: 5px;
    color: #dbdbdb;
}


.thanks {
    text-align: center;
    color: #e9e9e9;
    font-size: 1.5em;
    height: 5vh;
}




@media only screen and (max-width: 1440px) {



    #logo {
        width: 10%;
    }

    #photo {
        margin-right: -5.5%;
        margin-left: -6%;
    }

    #photo img {
        max-width: 100%;
    }

    #header-fixed {
        width: 90vw;
        top: 5vh;
        position: fixed;
        animation-name: none;
        opacity: 1;
    }


    #info {

        margin-left: 0;
    }


    #header-container {
        max-width: 85vw;
    }


    #trait-bg {
        height: fit-content;
    }

    #intro-area {
        width: 70vw;
        min-height: 60vh;
        height: auto;
        padding: 25vh 10vw 0 10vw;
        font-size: 5rem;
        display: flex;
        align-items: flex-start;
        clear: both;
        flex-wrap: wrap;
        align-content: flex-start;
    }



    .intor-text {
        width: 100%;
        margin-top: 5vh;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2.8rem !important;
        color: #494949;
        opacity: 0;
        animation: open-t 1s ease .5s 1 forwards;

    }

    .intro-tit {
        font-size: 2.8rem;
        padding-bottom: 0;
    }



    #intro-area span {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 3rem !important;
    }


    #tool-bg {
        width: 100vw;
        margin: auto;
        height: fit-content;
    }


    #skill-bg {
        width: 100vw;
        height: fit-content;
        margin: auto;
        padding: 5vh 0;
    }

    #skill {
        width: 100%;
        height: fit-content;
    }

    .skill-area {
        width: 28%;
    }

    #btn-area-m {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }


    #btn-area-m li a {
        width: 100%;
        height: 65px;
        margin: 3px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

    }

}


@media only screen and (max-width: 1024px) {




    h1 {
        font-size: 6rem;
    }

    #info {
        width: 35%;
        padding-left: 5vw;
        margin-left: 5px;
        height: 100vh;
        padding-top: 48vh;
        position: relative;
        z-index: 0;
    }

    .intro-tit {
        font-size: 2.3rem;
        line-height: 3.5rem;
        padding-bottom: 2vh;
    }

    #intro-area {
        width: 75vw;
        min-height: 60vh;
        height: auto;
        padding: 25vh 10vw 0 6vw;
        font-size: 5rem;
        display: flex;
        align-items: flex-start;
        clear: both;
        flex-wrap: wrap;
        align-content: flex-start;
    }



    #intro-area span {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 2.5rem !important;
    }

    #photo {
        margin-right: -8%;
        margin-left: -8%;
    }


    .skill-area {
        width: 40%;
        margin-bottom: 5vh;
    }


    #btn-area-m li a {
        width: 100%;
        height: 65px;
        margin: 3px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

    }




    #header-fixed {
        min-height: 65px;
        width: 100%;
        border-radius: 0;
        z-index: 100;
        top: 0;
        animation-name: none;

    }


    #header-container {
        max-width: 100vw;
    }


    .btn_menu-m {
        display: flex;
        width: 60px;
        height: 60px;
        font-size: 35px;
        font-weight: 500;
        color: #333;
        position: fixed;
        right: 5px;
        top: 1vh;
        z-index: 120;
        justify-content: center;
        align-items: center;
        /* border: #ffffff solid 2px; */
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        transition: background .5s;
    }


    #btn-area-m li {
        padding: 5px 15px;

    }

    #btn-area-m li a {
        color: #1c1c1c;


    }


    #header-m {
        display: none;
        margin-top: 100%;
        width: 100%;
        float: left;
        height: fit-content;
        margin-top: 7vh;
        font-size: 1rem;
        position: fixed;
        z-index: 88;
        background: linear-gradient(90deg, #dedede, #d5d5d5ba);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        border-right: 1px solid #fff;
        box-shadow: 4px 4px 18px -10px #696969;
        background: #eeeeee;
    }



}



@media only screen and (max-width: 768px) {



    #work-exp-bg {
        height: fit-content;
        background-color: #f7f7f7 !important;

    }

    h2 {
        color: #1b1b1b;
        font-size: 2.1rem;
    }



    .btn_menu-m {
        display: flex;
        width: 60px;
        height: 60px;
        font-size: 35px;
        font-weight: 500;
        color: #333;
        position: fixed;
        right: 5px;
        top: 1vh;
        z-index: 120;
        justify-content: center;
        align-items: center;
        /* border: #ffffff solid 2px; */
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        transition: background .5s;
    }

    #header-m {
        display: none;
        margin-top: 100%;
        width: 100%;
        float: left;
        height: fit-content;
        margin-top: 7vh;
        font-size: 1rem;
        position: fixed;
        z-index: 88;
        background: linear-gradient(90deg, #dedede, #d5d5d5ba);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        border-right: 1px solid #fff;
        box-shadow: 4px 4px 18px -10px #696969;
        background: #eeeeee;
    }

    #btn-area-m {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }


    #btn-area-m li {
        width: 100%;
        height: 65px;
        margin: 3px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #cecececc;
    }


    #btn-area-m li a {
        width: 100%;
        height: 80px;
        margin: 15px 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: #1c1c1c;
        font-size: 1.2rem;

    }



    h1 {
        width: 95%;
        font-size: 5rem;
        font-weight: bold;
        color: #2d2d2d;
        margin: auto;
        padding: 0;
        letter-spacing: 0;
        opacity: 0;
        animation: focus 1s ease-in-out;
        animation-fill-mode: forwards;
        animation-name: open-title-m;
        animation-duration: .8s;
        animation-delay: .4s;
        animation-iteration-count: 1;
        animation-timing-function: ease;


    }



    #gotop {
        display: none;
        position: fixed;
        right: 5%;
        bottom: 3%;
        border-radius: 10px;
        background: #383838d1;
        box-shadow: 5px 5px 25px #6e6e6ed1;
        padding: 15px 20px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        z-index: 999;
        border: #ffffff5c 2px solid;
    }



    #open {

        width: 90vw;
        height: 80vh;
        margin: 0 5vw;
        border-radius: 20px;
        padding-top: 15vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }


    .open-f {
        text-align: center;
        font-size: .8rem;
    }


    @keyframes open-title-m {
        0% {

            margin-top: 80px;
            opacity: 0;
        }

        100% {

            margin-top: 10px;
            opacity: 1;

        }
    }




    .open-describe {
        color: #505050;
        max-width: 100%;
        padding: 0 15px;
        font-size: 1.2rem;
        line-height: 1rem;
        margin-top: 0;

    }


    #work-exp-bg {
        height: fit-content;

    }


    .open-cta-area {
        width: 100%;
        margin: auto;
        margin-top: 15vh;
        display: flex;
        position: relative;
        z-index: 98;
        justify-content: center;
        opacity: 0;
        animation-name: open-cta;
        animation-duration: 1s;
        animation-delay: .8s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    @keyframes open-cta {
        0% {
            margin-top: 150px;
            opacity: 0;
        }

        100% {
            margin-top: 50px;
            opacity: 1;
        }
    }

    .main-cta {
        font-size: 1rem;
    }


    .else-cta {
        background: #e7e7e7;
        color: #696969;
        box-shadow: 0px -6px 10px white, 0px 4px 25px rgba(0, 0, 0, 0.15);
        margin: 10px;
        font-size: 1.1rem;
        letter-spacing: .1rem;
        font-weight: 300;
        transform: 1s;
        -moz-transform: 1s;
        transform: 1s;
        -moz-transform: 1s;
    }

    .else-cta a {
        border-radius: 30px;
        color: #3a3a3a;
        font-weight: bold;

    }


    #open-logo {
        left: 5vw;
    }


    #contact-icon-area {
        width: 50%;
        margin: auto;
    }

    #header-fixed {
        min-height: 65px;
        width: 100%;
        border-radius: 0;
        z-index: 100;
        top: 0;
        animation-name: none;

    }




    #header-container {
        max-width: 100vw;
    }


    #intro-area-bg {
        width: 100%;
        height: fit-content;
        padding-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        
    }


    #intro-area {
        width: 100vw;
        height: 80vh;
        padding-top: 10vh;
        padding-bottom: 15vh;
        padding-left: 10vw;
        font-size: 4rem;
        background-size: 400px 400px;
    }

    .intro-tit {
        font-size: 2.6rem;
        line-height: 4rem;
    }

    #intro-area span {
        font-size: 1.3rem;
        line-height: 2.5rem !important;
    }

    #intro-bg {
        padding: 10vw;
        width: 100vw;
    }

    #info {
        width: 50%;
        padding: 35px;
        line-height: 33px;
        list-style-type: none;
        font-size: 1.5rem;
        color: #f5f5f5;
        background: none;
        height: fit-content;
    }

    #photo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding-top: 10vh;
    }


    #photo img {
        max-width: 200px;
    }

    .text {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .trait-area {
        display: none;
    }



    .name {
        font-size: 1.5rem;
        text-align: center;
    }

    .job-title {
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
    }

    .work-detal {
        padding: 20px 30px 0 30px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 7px;
    }

    .work-detal li {
        line-height: 24px;
    }

    .next-btn {
        display: none;
    }

    .next-btn-work {
        display: none;
    }

    .next-btn2 {
        display: none;
    }

    .next-btn-m {
        display: none;
    }


    #logo {
        font-weight: bold;
        margin-top: 2px;
        margin-left: 10px;
        float: left;
        height: 40px;
    }

    #logo a {
        color: #5e5e5e;
        padding-top: 20px;
    }

    #tool-bg {
        padding-top: 0;
        padding-bottom: 5vh;
    }

    .tool {
        width: 40%;
        margin: 10px;
        height: 70px;
    }

    #skill {
        max-width: 90vw;
        width: 90%;
        height: fit-content;
        padding-top: 3vh;
    }

    #skill-bg {
        width: 100%;
        padding: 5vh 0;
    }

    .skill-area {
        width: 60vw;
        padding: 30px 25px;
        min-height: auto;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    .skill li {
        line-height: 2rem;
    }

    #work-exp {
        width: 100%;
        margin: 0;
        min-height: 300px;

    }

    #work-exp-area {
        max-width: 85%;
        margin: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .work {
        max-width: 100%;
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .work-tit-area {
        width: 100%;
        border-right: 0px;
        padding: 5px 0 20px 30px;
        /* border-bottom: #e9e9e9 1px solid; */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }

    .company-circle {
        margin-left: -42px;

    }

    .work-detal {
        line-height: 2rem;
        width: 100%;
        padding-bottom: 5vh;
    }

    .work-detal ul {
        padding-top: 20px;
    }

    .work-detal ul li {
        line-height: 2rem;
    }



    .title {
        font-size: 33px;
        padding-bottom: 15px;
    }

    #trait-bg {
        padding: 5vh 0;
    }


    #trait {
        margin: auto;
        width: 90%;
        height: fit-content;
        padding: 0 0 5vh 0;
    }

    .inside-tit {
        width: 80vw;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: bold;
        padding: 3rem 0 1rem 0;
    }

    .inside-text {
        line-height: 2.2rem;

    }


    .tool-group {
        padding: 3vh;
    }

    .inside-content {
        max-width: 800px;
        padding: 0 12vw;
        margin: auto;
    }

    .question ul {
        line-height: 2.3rem;
    }

    .question ul li {
        margin-left: 0;
        margin: 10px 0;
    }

    .inside-tit {
        width: 100%;
        font-size: 1.9rem;
        line-height: 2.8rem;
    }

    .intro-pic {
        width: 100%;
        margin: auto;
    }

    .indsie-pic {
        flex-wrap: wrap;
        margin-top: 25px;
    }

    .work-tit-detal {
        width: 100%;
        font-weight: 500;
        display: flex;
        flex-wrap: nowrap;
    }

    .company-describe {
        width: 40%;
        font-size: 1rem;
        line-height: 1rem;
        padding: 18px 0 0 0;
        border-left: 0
    }

    .company-describe2 {
        width: 40%;
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 2px 0 0 0;
        border-left: 0
    }

    .during-work {
        width: fit-content;
        padding: 10px 15px 0 0;
        margin: 10px 15px 10px 0;
        border-left: 0;
    }


    .company-name {
        width: fit-content;
        padding: 10px 15px 0 5px;
        margin: 5px 15px 10px 0;
        border-right:2px solid #a79a81;
    }

    .interest_area {
        display: none;
    }


    #interest_area {
        width: 100vw;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .interest {
        min-width: 200px;
        max-height: 220px;
        margin: 7px;
    }

    .interest img {
        max-width: 250px;
        margin: 0 15px;
        max-height: 200px;
        overflow-y: hidden;
        border-radius: 10px;
        margin-bottom: 25px;
    }

    .interest-tit {
        max-width: 250px;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 1.5pt;
        margin: 10px 15px;
    }

    .interest-text {
        font-size: 1.1rem;
        line-height: 1.8rem;
        max-width: 250px;
        margin: 10px 15px;
    }

}


@media only screen and (max-width: 425px) {

    h1 {
        margin-bottom: 3vh;
    }

    h2 {
        margin: 0 5vw;
    }

    h3 {
        margin: 15px;
    }


    #intro-area-bg {
        background: linear-gradient(347deg, #494949, #4b4b4b, #7e7368);
    }

    .intor-text {
        width: 100%;
        margin-top: 1vh;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2.8rem !important;
        color: #2b2b2b;
        opacity: 0;
        animation: open-t 1s ease .5s 1 forwards;

    }



    #intro-bg {
        padding: 8vw;
    }

    #trait {
        width: 100%;
    }

    #trait-bg {
        height: fit-content;
        padding: 5vh 5vw;
    }

    .wrap {
        margin: 0;
    }

    #intro-area span {
        font-size: 1.1rem;
        line-height: 2.2rem !important;
    }

    #photo {

        padding-top: 3vh;
    }

    .trait-item {
        margin: 2vh auto;
    }

    .work-tit-detal {
        width: 100%;
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
    }

    .company-describe {
        width: 100%;
        font-size: 1rem;
        line-height: 1rem;
        padding: 5px 20px 0 0;
        border-left: 0;
    }

    .company-describe2 {
        width: 100%;
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 2px 0 0 0;
        border-left: 0
    }

    .during-work {
        width: 100%;
        padding: 0;
        border-right: 0;
    }

    .company-name {
        border-right: 0;
        padding: 0;
    }

    .interest_area {
        display: none;
    }


    #open-logo {
        left: 40vw;
        font-size: 1.8rem;
        font-weight: bold;
    }

    h1 {
        font-size: 5rem;
    }



    .tool {
        width: 80%;
    }



    .inside-content {
        max-width: 100%;
        padding: 0 5vw;
        margin: auto;
    }



    #intro-area {
        width: 90vw;
        height: fit-content;
        padding: 15vh 5vw 5vh 8vw;
        font-size: 4rem;
        background-size: 400px 350px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }


    #info {
        width: 100%;
        padding: 35px;
        margin-left: 5vw;
        line-height: 2rem;
        list-style-type: none;
        font-size: 1rem;
        background: none;
        color: #ffffff;
        height: fit-content;
        padding-bottom: 15vh;



    }

    .intro-tit {
        font-size: 2.3rem;
        line-height: 3rem;
    }


    #contact-icon-area a {
        width: 150px;
        height: 50px;
        padding: 5px 15px;
        border: 2px solid #cdbeb3;
        border-radius: 8px;
        background: #f3ece8;
        color: #8f7e77;
        font-weight: 500;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .skill-area {
        width: 90vw;
        padding: 30px 25px;
        min-height: auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }



    #m-header {
        display: block;
        width: 100%;
        height: 70px;
        background: linear-gradient(90deg, #ffffffcc, #e3e3e3);
        border-bottom: 2px solid #d6d6d6;
        position: fixed;
        z-index: 98;
    }

    #m-logo {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 3vh;
        margin-left: 5vw;
        float: left;
        height: 40px;
        position: relative;
        z-index: 999;


    }


    #work-exp-bg {
        padding-top: 1px;
    }

    #logo-m {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 3vh;
        margin-left: 5vw;
        float: left;
        height: 40px;
        position: relative;
        z-index: 999;

    }


    .btn_menu {
        display: none;
    }



    .btn_menu-m {
        display: flex;
        width: 60px;
        height: 60px;
        font-size: 35px;
        font-weight: 500;
        color: #333;
        position: fixed;
        right: 5px;
        top: 1vh;
        z-index: 120;
        justify-content: center;
        align-items: center;
        /* border: #ffffff solid 2px; */
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        transition: background .5s;
    }

    #header-m {
        display: none;
        margin-top: 100%;
        width: 100%;
        float: left;
        height: fit-content;
        margin-top: 7vh;
        font-size: 1rem;
        position: fixed;
        z-index: 88;
        background: linear-gradient(90deg, #dedede, #d5d5d5ba);
        backdrop-filter: blur(3.1px);
        -webkit-backdrop-filter: blur(3.1px);
        border-right: 1px solid #fff;
        box-shadow: 4px 4px 18px -10px #696969;
        background: #eeeeee;
    }

    #btn-area-m {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }


    #btn-area-m li {
        width: 100%;
        height: 65px;
        margin: 3px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

    }

    #btn-box-m li a {
        width: 100%;
        height: 65px;
        background: #fbfbfbcf;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(63, 63, 63);
        font-weight: 500;
        border-radius: 5px;
        transition: .1s;
        -webkit-transition: .1s;
        border: 1px solid #ffffffe7
    }




}


@media only screen and (max-width: 375px) {

    #info {
        margin-left: 2vw;
    }

    .text {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        font-size: 1.2rem;
    }
}