@charset "utf-8";

html {
    font-size: 16px;
}

li {
    list-style: none
}

a {
    text-decoration: none;
    transition: .2s;
    -webkit-transition: .2s;
    color: #3d3d3d;
}

a:hover {
    color: #39adca;

}

a:visited {
    color: #3d3d3d;
}


a:active {
    color:  #3d3d3d;
}


img {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
}


body {
    font-family: 'Rubik', 'Noto Sans TC', sans-serif;
    color: rgb(68, 67, 67);
    max-width: 100%;
    background: #fdfdfd;
    margin: 0;
    padding: 0;
}


section {
    height: 100vh;
    position: relative;
}


#gotop {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 100px;
    border-radius: 10px;
    background: #383838d1;
    box-shadow: 5px 5px 25px #6e6e6ed1;
    padding: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    border: #ffffffa8 2px solid;
}

#gotop:hover {
    opacity: .6;

}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);

}

/*短HI*/
#hi-box {
    width: 100px;
    height: 70px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #ffffffc6;
    color: #aeaeae;
    box-shadow: #e7fcfe96 5px 5px 15px;
    opacity: 0;
    z-index: 999;
    top: -50%;
    left: 45%;
    position: absolute;

    animation-name: hibox;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}



@keyframes hibox {
    0% {
        top: -100%;
        opacity: 0;
    }

    20% {
        top: 70%;
        opacity: 1;

    }

    75% {
        top: 75%;
        opacity: 1;
    }

    100% {
        top: -100%;
        opacity: 0;

    }
}

.next {
    width: 80px;
    height: 50px;
    margin: auto;
    padding: 10px;
    text-align: center;
    /* background: #afafaf; */
    border-radius: 20px;
}

.next a {
    color: #6a6a6a;
    display: block;
}

.next-arrow {
    border: solid rgb(87, 87, 87);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(44deg);
}



#header {
    background: #ececec3b;
    /* background: linear-gradient(90deg, #74ccff82, #c1ca4484); */
    backdrop-filter: blur(3px);
    width: 100%;
    z-index: 99;
    top: 0;
    position: fixed;
    color: #dddacb;
    border-bottom: 1px solid #f9f9f966;

}

#header a {
    color: #fafafa !important;
}

#header-bg {
    /* background:  url(../img/bg8.jpg) fixed no-repeat #bdbdbd8a; */
    /* background:  url(../img/cat.jpg) fixed no-repeat #652d0c; */
    width: 100%;
    position: fixed;
    z-index: 99;
    clear: both;
    top: 0%;

}

#header-open {
    width: 100%;
    z-index: 99;
    top: 0;
    position: relative;
    clear: both;

}



#header-fixed {
    /* background: linear-gradient(90deg, #e5e5e5bf, #483f35f2); */
    /* background: linear-gradient(90deg, #b9a78791, #7a715985); */
    background: linear-gradient(90deg, #ffffff80, #efefef);
    border-bottom: 1px solid #ffffff;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid #ffffff9e;
    box-shadow: 5px 3px 20px #d5d5d5cc;
    width: 100vw;
    z-index: 99;
    height: 65px;
    position: fixed;
    transition: 0.3s;
    margin-top: -68px;
}




#header-container {
    max-width: 100vw;
    margin: auto;
}


#btn-area {
    width: 100%;
    margin: auto;
    padding-top: 90px;
    height: 60px;
    font-size: 1.3rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    /* background: url(../img/banner.JPG) no-repeat center; */

    background: #BBD2C5;
    background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5);


    /* 
    background: -webkit-linear-gradient(180deg, #647676, #cce4e8);
    background: linear-gradient(180deg, #566868, #cce4e8); */


    /* background: -webkit-linear-gradient(to bottom,#706b60, #a59d8c, #dcd3c0);
    background: linear-gradient(to bottom, #706b60, #a59d8c, #dcd3c0); */

}



.btn-box-now {
    width: 400px;
    height: 32px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    background: #fdfdfd;
    padding: 18px 0 5px 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-weight: 500;
    color: rgb(85, 85, 85);
    margin-top: 5px;
    box-shadow: 5px -5px 10px #7a7a7a61;
    cursor: default;
}



.btn-box {
    width: 400px;
    margin: 0 5px;
    margin-top: 7px;
    text-align: center;
    background: #f9f9f970;
    backdrop-filter: blur(3px);
    border-top: #eeeeee 2px solid;
    border-right: #eeeeee 2px solid;
    border-left: #eeeeee 1px solid;
    display: inline-block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;


}

.btn-box a {
    padding: 15px 0 0 0;
    color: rgb(85, 85, 85);
    display: block;
    font-weight: 500;
    transition: .2s;
    -webkit-transition: .2s;
    min-height: 35px;
}

.btn-box a:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    background: #ffffff;
    color: #2e2e2e;
    min-height: 50px;
}


#open-logo {
    margin: auto;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5vh 0;
    position: absolute;
    top: 0;
    left: 15%;
    text-align: left;
}

#open-logo a {
    color: #b4b4b4;
    /* text-shadow: 1px 9px 9px #fdfdfdde; */
}

#open-bg {
    width: 100%;
    height: 99vh;
    background: url(../img/bg4.jpg) fixed no-repeat;
    padding-bottom: 25px;
}

#open {
    width: 100%;
    height: 60vh;
    padding-top: 30vh;
    background: radial-gradient(ellipse at center, #ffffff, #d9d9d9);
    background-attachment: fixed;
    text-align: center;
    border-bottom: #ffffff 2px solid;
    box-shadow: inset 1px -1px 15px 0px #ffffffb8;
}

.open-f {
    text-align: center;
    padding: 40px 25px;
}



h1 {
    width: 98vmax;
    font-size: 5rem;
    font-weight: 500;
    padding: 2rem 0;
    margin: auto;
    color: #575757;
    /* text-shadow: 0px -9px 13px #ccc;
    -webkit-text-stroke: 1.5px #ffffff; */
    /* color: #73bd83; */

    animation-name: open-title;
    animation-duration: 1s;
    /*動畫運作秒數*/
    animation-delay: 0;
    /*動畫延遲開始秒數*/
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    /*動畫結束停在最後一個影格*/
}


@keyframes open-title {
    0% {

        margin-top: -50px;
        opacity: 0;
    }

    100% {

        margin-top: 0;
        opacity: 1;

    }
}


mark {
    padding: 2px 1px;
    border-radius: 5px;
    background: linear-gradient(transparent 25%, rgba(255, 255, 255, 0) 50%, #effff3 65%, #ccfd8a 85%, transparent 90%)
        /* background: linear-gradient(transparent 25%, rgba(255, 255, 255, 0) 50%, #effff3 65%, #ccfd8a 85%, transparent 90%);
    color: #3f37bb; */
}


.open-describe {
    color: #2c2c2c;
    width: 50%;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 3rem;
    margin: auto;
    margin-top: 3vh;
    opacity: 0;

    position: relative;
    z-index: 95;
    animation-name: open-des;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}



@keyframes open-des {
    0% {
        margin-top: -30px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.open-cta-area {
    width: 95vmax;
    margin: auto;
    margin-top: 5vh;
    opacity: 0;
    display: flex;
    position: relative;
    z-index: 98;
    justify-content: center;

    animation-name: open-cta;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes open-cta {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: .5;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: .5;
    }

    100% {

        opacity: 1;
    }
}



.main-cta {
    border-radius: 30px;
    border: 1px solid #383838db;
    background: #363636;
    color: #ffffff;
    width: 140px;
    height: 35px;
    padding-top: 15px;
    margin: 11px 5px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
}

.main-cta-t {
    width: 85px;
    height: 35px;
    padding-left: 15px;
}


.cta-arrow {
    width: 3px;
    height: 3px;
    
    /* overflow: hidden;
    border: solid rgb(255, 255, 255);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(44deg); */

    animation-name: cta-arrow;
    animation-duration: .6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes cta-arrow {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 5px;
    }
}


.else-cta {
    border-radius: 30px;
    background: #ffffff3d;
    margin: 10px;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    font-weight: 300;
    transform: 1s;
    -moz-transform: 1s;
}

.else-cta a {
    border-radius: 30px;
    padding: 16px 35px;
    display: block;
    border: #818181 2px solid;
    transform: 1s;
    -moz-transform: 1s;
    font-weight: 400;
    color: #4c4a47;
}

.else-cta a:hover {
    background: #d1cab7fd;
    color: #ffffff;
    border: #fffefe 2px solid;
}



/* Outline Inward */
.outline-inward {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);

}


.outline-inward:before {
    content: "";
    position: absolute;
    border: #e5e4e4 solid 3px;
    border-radius: 35px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: top right bottom left;
}

.outline-inward:hover:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 1;
}



#logo {
    padding: 20px;
    width: 25%;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    z-index: 88;
    float: left;

    /* animation-name: loading;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards; */
}

#logo a {
    color: #f8f8f8 !important;
}




#intro-area-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    border-top: #ffffffd9 1px solid;

}


#intro-area {
    width: 25%;
    padding-left: 5vw;
    height: 90vh;
    padding-top: 10vh;
    background: #e3e3e3;
    color: #ffffff;
    font-size: 6.5rem;
    font-weight: bold;
    text-shadow: 5px 3px #93939369;
    writing-mode: vertical-lr;
}

#photo {
    width: 15vw;
    height: 75vh;
    margin-left: -8%;
    margin-right: -7.2%;
    padding-top: 25vh;
    overflow: hidden;
    /* background: linear-gradient(to top, #e7e7e7, #f3f3f3, #dddddd); */
    /* background: #eeeeee url(../img/Renee-full.png) no-repeat bottom; */
    position: relative;
}

#photo img {
    max-width: 100%;

}




#info {
    width: 55%;
    padding-left: 15vw;
    height: 70vh;
    padding-top: 30vh;
    list-style-type: none;
    color: #555555;
    /* border-left: 2px solid #ffffff; */
    background: linear-gradient(234deg, rgba(243, 243, 243, 0.849) 0%, rgba(230, 230, 230, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
}


#trait-bg {
    margin: auto;
    height: fit-content;
    max-width: 900px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    padding-top: 10vh;
}

#trait {
    width: 100%;
    min-height: 80vh;

}

.wrap {
    max-width: 900px;
    margin: 0 auto;
}

.question{
    margin: 3vh 0;
}


.question h3 {
    color: #060606;
    /* border: 1px solid #dddddd; */
    background: #ebebeb;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    display: block;
    position: relative;
    z-index: 3;
}


.question p {
    color: #000000;
    line-height: 2.5rem;
    font-size: 1.1rem;
    padding: 20px 30px;
    /* background: #f5f5f5; */
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top: -5px;
    position: relative;
    z-index: 0;
}




/*特質標籤區*/

.trait-area {
    max-width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7vh;
}

.trait {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #5a5a5a;
    padding: 5px 10px;

}

.trait::before {
    content: '# ';
    font-size: 1rem;
    font-weight: 300;

}

.name {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.job-title {
    font-size: 1.3rem;
    padding-top: 5px;
    font-weight: 500;
    line-height: 1.5rem;
}


.text {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: #303030;
}

.text li {
    list-style-type: none;
    margin-left: 5px;
}

.text li::before {
    content: '． ';

}


#contact-icon-area {
    width: 100PX;
    height: 3vh;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

#contact-icon-area img {
    max-width: 25px;
    margin-left: 15px;
}


/* 
.text li::before {
    content: '▪　';
    font-weight: 200;
    color: #b1b1b1;
} */


#aboutme {
    width: 100%;
    height: 70vh;
    padding-top: 30vh;
    background: radial-gradient(ellipse at center, #ffffff, #d9d9d9);
    background-attachment: fixed;
    text-align: center;

}


.about-title {
    width: 98vmax;
    font-size: 3.5rem;
    font-weight: bold;
    margin: auto;
    /* color: #ebebeb; */
    color: #303030;
}



.about-describe {
    color: #2c2c2c;
    max-width: 700px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 4rem;
    margin: auto;
    margin-top: 5vh;

    position: relative;
    z-index: 95;

}



.next-btn-area {
    width: 100px;
    margin: auto;
}

.next-btn {
    border-radius: 30px;
    border: 2px solid #303030;
    background: #1d1d1de0;
    color: #ffffff;
    width: 60px;
    height: 35px;
    padding-top: 15px;
    margin: 25px 5px;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
}


/*首頁大標題*/
h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.3rem;
    padding: 2vh 5vw;
}


.light {
    color: #dddacb;
}

.w {
    color: #ffffff;
}


.title-describe {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 35px;
}

#tool-bg {
    width: 100%;
    height: 90vh;

    /* background: -webkit-linear-gradient(303deg, #cbc4ad, #a9a089);
    background: linear-gradient(303deg, #cbc4ad, #a9a089); */
    background: #e4e3de;
    min-height: 80vh;
    padding-top: 15vh;
    border-top: 2px solid #ffffff;
}


.tool-group {
    max-width: 900px;
    margin: auto;
    padding: 5vh;
}

.tool-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.tool {
    margin: 1vh .5vw;
    height: 5vh;
    margin-bottom: 1vh;
    width: 12vw;
    display: flex;
    background: #fffffff0;
    border: 2px solid #ffffff;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 5px 5px 20px #7474744a;
    align-items: center;
}


.tool-icon {
    padding: 0 5px;
}

.tool-icon img {
    max-width: 35px;
    height: auto;
}

.tool-name {
    max-width: 300px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;
}

#skill-bg {
    width: 100%;
    margin: auto;
    background: #b1c6c9;
    background: -webkit-linear-gradient(180deg, #798f8f, #cce4e8);
    background: linear-gradient(180deg, #798f8f, #cce4e8);
    background-attachment: fixed;
    /* background: radial-gradient(ellipse at center, rgb(233 233 233), rgb(229 229 229)); */
    min-height: 90vh;
    padding-top: 9vh;
    border-top: #f7f7f7e1 1px solid;
    border-bottom: #f7f7f7e1 1px solid;
}

#skill {
    max-width: 1100px;
    height: 90vh;
    margin: auto;
    display: flex;
    font-size: 1.1rem;
    line-height: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

}


.skill-area {
    /* min-width: 20vw; */
    /* max-width: 25vw; */
    width: 35%;
    margin: 1%;
    /* margin-bottom: 3vh; */
    /* min-height: 300px; */
    background: #ffffffd9;
    border: 1px solid #fff;
    padding: 20px 40px;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #dbdbdba8;

}

.skill-tit {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: #e4e4e4 1px solid;
}

.skill li {
    list-style-type: none;
    line-height: 2.5rem;

}

.skill li::before {
    content: '•　';
    font-weight: bold;
    color: #797979;
}


#work-exp-bg {
    max-width: 100vw;
    margin: auto;
    height: auto;
    clear: both;
    /* background: #BBD2C5; */
    background: #ffffff9c;
    background: -webkit-linear-gradient(180deg, #798f8f, #cce4e8);
    background: linear-gradient(180deg, #798f8f, #cce4e8);
    background-attachment: fixed;
    min-height: 75vh;
    padding-top: 8vh;
    padding-bottom: 5vh;

}

#work-exp-area {
    max-width: 900px;
    margin: auto;
    height: auto;
}

/*包覆 工作tit 和 工作細項,分兩欄呈現*/
.work {
    max-width: 100%;
    border: 2px solid #ffffff9e;
    border-radius: 6px;
    margin: 50px 0;
    /* padding-bottom: 35px; */
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    box-shadow: 5px 10px 30px #bababa9e;

}



/*整個 職務 tit 區域*/
.work-tit-area {
    width: 30%;
    height: inherit;
    padding: 20px 0 50px 30px;
    border-right: #e9e9e9 1px solid;
    background: #ffffff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    /* color: #ffffff; */
}


.during-work {
    padding: 5px 0;
}

.work-tit {
    font-size: 1.8rem;
    line-height: 4.5rem;
    font-weight: 500;
}

.company {
    padding: 5px 0;
    font-weight: 500;
}

.company-logo {
    width: 65px;
    height: 35px;
    float: left;
}

.company-logo img {
    max-width: 50px;
    height: auto;
}


.company-name {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.company-name img {
    width: 16px;
    height: auto;
    margin: 5px;
}


.company-describe {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 5px 0;
}

/*工作內容細項*/

.work-detal {
    background:  #f9f9f9;
    padding: 20px 30px 50px 40px;
    font-size: 1.2rem;
    line-height: 2.8rem;
    width: 70%;
}

.work-detal li {
    list-style-type: none;
}

.work-detal li::before {
    content: '•　';
    font-weight: bold;
    color: #797979;
}


.tit {
    font-size: 2rem;
    font-weight: bold;
}

#pic-area {
    width: 100%;
    min-height: 30px;
    margin: auto;
    text-align: center;
    background: #d4c6b8;
    background-image: url(../img/bg1.JPG);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}


#intro-bg{
    height: fit-content;
    width: 100%;
    padding-top: 5vh;
    background: radial-gradient(ellipse at center, #ffffff, #d9d9d9);
}


.inside-content {
    max-width: 800px;
    margin: 0 auto 5vh auto;
}


/*首頁f*/
#footer {
    width: 100%;
    min-height: 50px;
    padding-top: 3vh;
    margin: auto;
    font-size: 1rem;
    color: #8d8d8d;
    text-align: center;
    clear: both;

}

/*內頁f*/



footer {
    width: 100%;
    min-height: 50px;
    margin: auto;
    font-size: 1rem;
    color: #6e6d6d;
    text-align: center;
    clear: both;

}



#cover-bg {
    width: 100%;
    min-height: 80vh;
    background: #f7f7f7;
}

#cover {
    max-width: 800px;
    margin: auto;
    height: 60vh;
    /* padding-top: 25vh; */
    margin-top: -350px;
}

.item1 {
    width: 32%;
    min-height: 450px;
    background: #c4c4c4;
    float: left;
    margin: 5px;
    overflow: hidden;
    background: url(../portfolio/EDM/EDM001.jpg);
    background-size: cover;
}

.item2 {
    width: 32%;
    min-height: 220px;
    background: #cecece;
    float: left;
    margin: 5px;
    overflow: hidden;
    background: url(../portfolio/sticker/part1-preview.jpg);
    background-size: cover;
}

.item3 {
    width: 32%;
    min-height: 220px;
    background: #cecece;
    float: left;
    margin: 5px;
    overflow: hidden;
    background: url(../portfolio/EDM/001.jpg);
    background-size: cover;
}


.item4 {
    width: 65%;
    min-height: 220px;
    max-height: 220px;
    /* background: #cecece; */
    float: left;
    margin: 5px;
    background: url(../portfolio/banner/005.png);
    background-size: cover;
    overflow: hidden;
    height: auto;
}

.item5 {
    width: 98%;
    min-height: 250px;
    background: #cecece;
    float: left;
    margin: 5px;
    overflow: hidden;
    background: url(../portfolio/banner/awardbanner012.png);
    background-size: cover;
}







/*--------------------------------------內頁--------------------------------------------------------*/


#inside-logo {
    font-weight: bolder;
    padding: 15px;
    margin-top: 5px;
    width: 30%;
    font-size: 30px;
    position: relative;
    float: left;
    clear: both;

}

#inside-logo a {
    color: #2a2b2b;

}


#inside-main {
    max-width: 85vmin;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #292929;
}

.inside-tit {
    width: 100%;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    padding: 3rem 0 1rem 0;
    color: #000000;
}

.inside-text {
    max-width: 800px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: #1d1d1d;

}

.insdie-text li {
    padding: .4rem 0;
}



.insdie-text li::before {
    content: '▪　';
    font-size: .2rem;
    font-weight: normal;
    color: #525252;
    margin-left: -1.5rem;
}


.tag-describe {
    width: 100%;
    min-height: 50px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 2rem;

}

.portfolio-area {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}



.box6 {
    max-width: 200px;
    min-width: 100px;
    max-height: 550px;
    height: fit-content;
    margin: 15px 10px;
    box-shadow: 5px 5px 15px #e0e0e0c7;
    align-items: center;
    z-index: 1;
    position: relative;
    /* border: 1px solid #e3e3e3; */
    border-radius: 5px;
    overflow: hidden;


}

.box6 a {
    max-width: 200px;
    min-width: 100px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}


.box6:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box6:hover a img {

    opacity: .6;
}



.box5 {
    max-width: 220px;
    min-width: 100px;
    min-height: 400px;
    max-height: 500px;
    height: fit-content;
    margin: 15px 10px;
    align-items: center;
    z-index: 1;
    position: relative;
    /* border: 1px solid #e3e3e3; */
    border-radius: 5px;
    overflow: hidden;

}

.box5 a {
    max-width: 250px;
    min-width: 100px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}


.box5:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}


.box5:hover a img {
    opacity: .6;

}

.box4 {
    max-width: 300px;
    min-width: 200px;
    height: fit-content;
    margin: 15px 10px;
    align-items: center;
    z-index: 1;
    position: relative;
    border-radius: 7px;
    max-height: 550px;
    overflow: hidden;
}

.box4 a {
    max-width: 300px;
    min-width: 100px;
    border-radius: 7px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}


.box4 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box4:hover img {
    opacity: .6;
}

.box4 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
    border-radius: 6px;
}

.box-tit {
    width: fit-content;
    padding: 7px 25px;
    margin: 10px auto;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    background: #d4d4d467;
    border-radius: 20px;
}

.box-btn {
    display: none;
    width: 80px;
    margin: 30px auto -80px auto;
    box-shadow: 5px 6px 20px #ffc275cb;
    z-index: 99;
    position: relative;
    padding: 15px 25px;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    font-size: 18px;
    border: #f9c29f 1px solid;
    transition: .5s;
    -webkit-transition: .5s;


}

.box3 {
    max-width: 400px;
    min-width: 100px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 7px;
    overflow: hidden;
    max-height: 550px;
    box-shadow: 5px 5px 15px #e0e0e0c7;

}

.box3 a {
    max-width: 550px;
    min-width: 100px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box3 a:hover img {
    opacity: .6;
}

.box3 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box3 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}



.box2 {
    max-width: 600px;
    min-width: 100px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 7px;
    overflow: hidden;


}

.box2 a {
    max-width: 550px;
    min-width: 100px;
    height: fit-content;

    transition: 1s;
    -webkit-transition: 1s;
}


.box2 a:hover img {
    opacity: .6;
    box-shadow: 5px 5px 15px #e0e0e0c7;
}

.box2 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box2 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}


.box {
    max-width: 1210px;
    min-width: 300px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    box-shadow: 5px 5px 20px #cdcdcdc7;
    border-radius: 7px;
    overflow: hidden;
    background: #626262;


}

.box a {
    max-width: 1200px;
    min-width: 300px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box a:hover img {
    opacity: .6;
}

.box a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.link-btn {
    max-width: 100px;
    background: #21df41;

    padding: 10px 25px;
    margin: 15px auto;
    border-radius: 7px;
    text-align: center;
}

.link-btn a {
    color: #ffffff;
    display: block;
    transform: .5s;
    -moz-transform: .5s;
}

.link-btn:hover {
    opacity: 0.6;
}






/*產品頁*/
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product li {
    max-width: 300px;
    max-height: 450px;
    margin: 10px;
    overflow: hidden;

}

.product li a {
    display: block;
    border: #c2c2c2 1px solid;
}


.product li:hover {
    border: #70cac6 2px solid;
}

/*大型專案*/
.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page li {
    max-width: 400px;
    max-height: 500px;
    margin: 10px;
    overflow: hidden;

}

.page li a {
    display: block;
    border: #dddddd 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.page li a:hover {
    border: #70cac6 2px solid;
}

/*前期作品*/
.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first li {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
    overflow: hidden;

}

.first li a {
    display: block;
    border: #c2c2c2 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.first li a:hover {
    border: #70cac6 2px solid;
}

/*Banner*/



/*內頁小分類頁籤*/

.tag-area {
    max-width: 100vmin;
    margin: 3vh auto;
    font-size: 1rem;
    display: flex;
    /*宣告為 flex*/
    flex-wrap: wrap;
    /*是否換行排列*/
    justify-content: center;
    /* 水平置中*/
    cursor: pointer;

}

.tag {
    width: 150px;
    margin: 5px;
    text-align: center;
    color: #464646;

}


.tag a {
    color: #3c3c3c;
    display: block;
    border: #c5c5c5 1px solid;
    padding: 8px 0;
    border-radius: 40px;
    transition: .2s;
    -webkit-transition: .2s;

}

.tag a:hover {
    background: #686868e1;
    color: #ffffff;
    border: #ffffff 1px solid;
}

.tag-now {
    width: 150px;
    margin: 5px;
    text-align: center;
    background: #6c6c6c;
    color: #f9f9f9;
    padding: 8px 0;
    border-radius: 40px;
    cursor: default;

}





@media only screen and (max-width: 1440px) {



    #photo img {
        max-width: 100%;
    }

    #intro-area {
        width: 25vw;
        min-height: 60vh;
        height: auto;
        padding: 20vh 0 0 2vw;

        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        clear: both;
        /* background: #ffffff77;
    backdrop-filter: blur(5px);
    border-radius: 10px; */

    }


    #tool-bg {
        width: 100vw;
        margin: auto;
        height: fit-content;
    }


    #skill-bg {
        width: 100vw;
        height: fit-content;
        margin: auto;
        padding: 5vh 0;
    }

}


@media only screen and (max-width: 768px) {

    #open-bg{
        background: url(../img/bg4.jpg) fixed no-repeat 70%;
    }


    #open {
        padding-top: 20vh;
        height: 70vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }


    .open-f{
        text-align: center;
        font-size: .8rem;
    }

    h1 {
        width: 100%;
        font-size: 5rem;
        font-weight: bold;
        margin: auto;
        color: #575757;
        padding: 1rem 0;


        animation-name: open-title;
        animation-duration: 2s;
        /*動畫運作秒數*/
        animation-delay: 0;
        /*動畫延遲開始秒數*/
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        /*動畫結束停在最後一個影格*/
    }


    .open-describe {
        color: #505050;
        max-width: 100%;
        padding: 0 35px;
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 1vh;
        opacity: 0;

        animation-name: open-des;
        animation-duration: 1s;
        animation-delay: .3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    .main-cta {
        font-size: 1rem;
        background: #444444;
    }


    .else-cta {
        border-radius: 30px;
        background: #ffffff00;
        margin: 10px;
        font-size: 16px;
        font-weight: 400;
        box-shadow: 5px 5px 25px #ffffff25;
        transform: 1s;
        -moz-transform: 1s;
    }

    .else-cta a {
        border-radius: 30px;
        padding: 15px 35px;
        display: block;
        border: #5e5e5e 2px solid;
        transform: 1s;
        -moz-transform: 1s;
        color: #3a3a3a;

    }


    #open-logo {
        left: 5vw;
    }


    #header-fixed {
        min-height: 65px;
    }


    #intro-area-bg {
        width: 100%;
        height: 95vh;
        padding-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }


    #intro-area {
        display: none;

    }

    #intro-bg{
        padding: 10vw;
        width: 80vw;
    }

    #info {
        width: 100%;
        padding: 35px;
        line-height: 33px;
        list-style-type: none;
        font-size: 1.5rem;
        background: #ffffff;
        height: fit-content;
    }

    #photo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35vh;
        padding-top: 5vh;
    }

    
    #photo img {
        max-width: 220px;
    }

    .text {
        margin-top: 10px;
        font-size: 1.2rem;
    }

    .text li {
        list-style-type: none;
        margin-left: 5px;
    }

    .text li::before {
        content: '▪　';
        /* font-size: 10 px; */
        font-weight: bold;
        color: #797979;
    }


    #photo img {
        max-width: 250px;
    }

    .trait-area {
        display: none;
    }


    #work-exp-bg{
        padding-top: 5vh;
    }

    .name {
        font-size: 26px;
    }

    .job-title {
        font-size: 18px;
    }

    .work-detal {
        padding: 20px 30px 0 30px;
    }

    .work-detal li {
        line-height: 24px;
    }


    

    #logo {
        font-weight: bold;
        margin-top: 5px;
        margin-left: 10px;
        float: left;
        height: 40px;
    }

    #logo a{
        color: #5e5e5e;
        padding-top: 20px;
    }

    #tool-bg {
        padding-top: 10vh;
    }

    .tool{
        width: 70%;
        margin: 5px;
    }

    #skill {
        max-width: 90vw;
        height: fit-content;
    }

    #skill-bg {
        width: 100%;
        padding: 5vh 0;
    }

    .skill-area {
        width: 100vw;
        padding: 25px 30px;
    }

    .skill li{
        line-height: 2rem;
    }

    #work-exp {
        width: 100%;
        margin: 0;
        min-height: 300px;

    }

    #work-exp-area {
        max-width: 85%;
        margin: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .work {
        max-width: 100%;
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5vh;

    }

    .work-tit-area{
        width: 100%;
        border-right: 0px;
        border-bottom:  #e9e9e9 1px solid;
    }

    .work-detal{
        line-height: 2rem;
        width: 100%;
    }

    .work-detal ul{
        padding-top: 20px;
    }

    .work-detal ul li{
        line-height: 2rem;
    }


    .company-name {
        width: 100%;
    }

    .title {
        font-size: 33px;
        padding-bottom: 15px;
    }

    #trait-bg{
        padding-top: 5vh;
    }


    #trait{
        margin: auto;
        width: 85%;
        height: fit-content;
        padding: 0 0 5vh 0;
    }

    .inside-tit {
        width: 80vw;
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: bold;
        padding: 3rem 0 1rem 0;
    }

    .inside-text {
        line-height: 2.2rem;
    
    }


    .tool-group{
        padding: 3vh;
    }

    .inside-content {
        max-width: 800px;
        margin: auto;
    }
    

    /*內頁*/

    #inside-logo {
        font-weight: bolder;
        padding: 15px;
        margin-top: 5px;
        margin-left: 20px;
        width: 100%;
        font-size: 30px;
        position: relative;
        float: left;

    }




}