@charset "utf-8";

html{
    font-size: 16px;
    font-family: 'Noto Sans TC', 'Source Sans Pro', sans-serif;
    color: rgb(68, 67, 67);
    max-width: 100%;
    overflow-x: hidden;
    letter-spacing: 1px;
}


li {
    list-style: none
}

a {
    text-decoration: none;
    transition: .2s;
    -webkit-transition: .2s;
    color: #3e3e3e;
}

a:hover {
    color: #eeeeee37;
}

a:visited {
    color: #3d3d3d;
}


a:active {
    color: #fefefe51;
}


img {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
}

section {
    height: 100vh;
    position: relative;
  }

#gotop {
    display: none;
    position: fixed;
    right: 3%;
    bottom: 5%;
    border-radius: 5px;
    background: #2e2e2ee2;
    box-shadow: 5px 5px 25px #464646a8;
    padding: 12px 15px;
    color: white;
    cursor: pointer;
    z-index: 99;
    border: #7e7e7e 2px solid;
}

#gotop:hover {
    opacity: .6;

}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);

}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #4c4c4c !important;
}

.next {
    width: 80px;
    height: 50px;
    padding-top: 25px;
    margin: auto;
    text-align: center;
    /* background: #afafaf; */
    border-radius: 20px;

    animation-name: next;
    animation-duration: .6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes next{
0%{
    padding-top:25px
}

100%{
    padding-top:30px;
    height: 45px;
}

}

.next a {
    width: 80px;
    height: 50px;
    color: #6a6a6a;
    display: block;
}


.next-arrow {
    border: solid rgb(129 129 129);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(44deg);
}



#header {
    /* background: linear-gradient(90deg, #74ccff82, #c1ca4484); */
    width: 100%;
    z-index: 88;
    position: relative;
    color: #dddacb;

}

#header a {
    color: #dddacb;
}




#header-fixed {
    width: 100%;
    z-index: 99;
    height: auto;
    position: fixed;
    transition: 0.3s;
    margin-top: 0;
}


.header-container {
    max-width: 90vw;
    padding-top: 25px;
    margin: auto;
}

#header-container-inside {
    max-width: 85vmax;
    margin: auto;
}



#logo {
    width: 20%;
    padding-top: 20px;
    margin-bottom: 15px;
    position: relative;
    z-index: 96;
    float: left;
    /* filter: drop-shadow(#333333d7 3px 5px 10px); */

    animation-name: loading;
    animation-duration: 0.5s;
    /*動畫運作秒數*/
    animation-delay: .5s;
    /*動畫延遲秒數*/
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    /*動畫結束停在最後一個影格上*/
}

#logo a {
    color: #ffffff;
}


#logo img {
    max-width: 160px;

}

/* 
@keyframes loading {
    0% {
        top: -30px;
    }

    50% {
        top: 8px;
    }

    100% {
        top: 12px;
    }
} */

#banner {
    max-width: 100%;
    height: 100vh;
}


#btn-area {
    width: 100%;
    margin: auto;
    height: 210px;
    margin-top: -65px;
    clear: both;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background: #303030;
    /* background: #BBD2C5;
    background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5); */

}



.btn-box-now {
    width: 400px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    background: #ffffff;
    padding: 20px 0 5px 0;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-weight: bold;
    color: rgb(85, 85, 85);
    margin-top: 160px;
    box-shadow: 5px -5px 10px #7a7a7a61;
    cursor: default;
}



.btn-box {
    width: 400px;
    margin: 0 5px;
    margin-top: 160px;
    text-align: center;
    background: #f9f9f970;
    backdrop-filter: blur(3px);
    border-top: #eeeeee 2px solid;
    border-right: #eeeeee 2px solid;
    border-left: #eeeeee 1px solid;
    display: inline-block;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;


}

.btn-box a {
    padding: 10px 0 0 0;
    color: rgb(85, 85, 85);
    display: block;
    font-weight: bold;
    transition: .2s;
    -webkit-transition: .2s;
    min-height: 35px;
}

.btn-box a:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    background: #ffffff;
    color: #2e2e2e;
    min-height: 50px;
}



#case-area {
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
}


#case {
    display: none;

}
.case-box {
    max-width: 100%;
    height: 100%;
    position: relative;
    background: #2a2b2b;
    border: #cccccc 1px solid;
    border-radius: 5px;
    overflow: hidden;
}

.case {
    width:100vw;
    height: 80vh;
    display: flex;
    gap: 5px;
}


.case .item{
    flex: 1 1;
    border-radius: 7px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out;

}

.case .item a{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.case .item a:hover{
    width: 100%;
    height: 100%;
    background: #0000007a;
    transition: .4s ease-in-out;
}


.case .item:hover{
    flex: 2 1;
    transition: .4s ease-in-out;


}

.case .item:nth-child(1) {
    background-image: url(../img/project002.jpg);
}

.case .item:nth-child(2) {
    background-image: url(../img/project001.jpg);
}


.case .item:nth-child(3) {
    background-image: url(../img/project003.jpg);
}
.case .item:nth-child(4) {
    background-image: url(../img/project001.jpg);
}




.case-box a {
    max-width: 100%;
    padding-top: 43.2vh;
    height: auto;
    position: relative;
    z-index: 80;
    display: block;
    opacity: .5;

}

.case-box a:hover {
    opacity: 1;
    color: #ffffff;
    text-shadow: 3px 3px 15px #5b5b5b8d;

}

.case-tit {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
    z-index: 88;

}

.case-tit a {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    z-index: 88;

}

.case-info {
    position: relative;
    /* margin-bottom: -49.5vh; */
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    z-index: 88;

}


.case-info a {
    color: #ffffff;
}



#intro-area-bg {
    width: 100%;
    height: 82vh;
    padding-top: 18vh;
    background: radial-gradient(ellipse at center, #3c3c3c, #2a2a2a);

}

.intro-area {
    width: 65vmax;
    margin: 20px auto 25px auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    clear: both;
    color: #ffffff;
}

.photo {
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.side {
    width: 35vmin;
    padding-left: 15vmin;
    line-height: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.side img {
    filter: drop-shadow(#85858538 3px -5px 15px);
}

.info {
    width: 50vmin;
    line-height: 2.5rem;
    padding-top: 50px;
    list-style-type: none;
}

.r-side {
    width: 50%;
}



.job-title {
    font-size: 1.8rem;
    padding-top: 5px;
    font-weight: 600;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}


.text {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.text li {
    list-style-type: '▪ ';
    margin-left: 15px;
}


.idea {
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.slogan {
    font-size: 1.2rem;
    width: 100%;
    font-weight: 600;
}



h2 {
    padding-bottom: 30px;
    font-size: 2rem !important;
    font-weight: bold !important;
    text-align: center;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.light {
    color: #dddacb;
}

.w {
    color: #e4e4e4;
}


.title-describe {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 35px;
}

#service-bg {
    width: 100%;
    height: 85vh;
    padding-top: 15vh;
    /* background: #f6f6f6; */
    /* background: radial-gradient(ellipse at center, #ffffff, #d9d9d9); */
    background-attachment: fixed;

}


.service-group {
    max-width: 100vmin;
    /* margin-top: 5vh; */
    height: 60vh;
    margin: 5vh auto 0 auto;
    /* padding: 20px 0 5px 0; */

}

.service-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.service {
    margin: 15px 10px;
    height: 180px;
    margin-bottom: 20px;
    width: 20vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* background: #ffffff;
    box-shadow: 5px 5px 20px #7474744a;
    border-radius: 7px; */
    padding: 10px;

}


.service-icon {
    width: 120px;
    height: 120px;
    padding: 0 5px;
}

.service-icon img {
    max-width: 100px;
    height: auto;
}

.service-item {
    max-width: 300px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}


#sop-bg {
    width: 100vmax;
    height: fit-content;
    margin: auto;
    /* background: #383838; */
    background: linear-gradient(to top, #d7d7d7,#e7e7e7);
    /* background: linear-gradient(to top, #3d483d,#404641); */
    min-height: 85vh;
    padding-top: 15vh;
}

#sop-bg2 {
    width: 100vmax;
    height: fit-content;
    margin: auto;
    background: #464646;
    /* background: linear-gradient(to top, #4d7951,#263f2b); */
    min-height: 90vh;
    padding-top: 10vh;
}


#sop {
    max-width: 100vmin;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


.sop-group {
    max-width: 100vmin;
    margin: auto;
    padding: 20px 0 30px 0;
}


.sop-area {
    max-width: 80%;
    margin: auto;
    margin-bottom: 5px;
    min-height: 50px;
    color: #363636;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 50px;
    /* border-radius: 7px; */
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 13px 13px 20px #c1c1c19e;
    /* border-bottom: 2px solid #a9a9a9; */
    overflow: hidden;
}

.sop-item {
    width: 27%;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.sop-detail {
    width: 40%;
    line-height: 30px;
    display: flex;
    align-items: center;

}

.next-step {
    width: 99%;
    text-align: center;
    padding: 8px;
    color: rgb(104, 104, 104);
}


/*首頁f*/
#footer {
    width: 100%;
    min-height: 50px;
    padding-top: 30px;
    margin: auto;
    font-size: .8rem;
    letter-spacing: 2px;
    color: #afafaf;
    text-align: center;
    position: relative;
    margin-top: 15vh;


}


/*--------------------------------------內頁--------------------------------------------------------*/




#inside-banner {
    width: 100%;
    min-height: 11vh;
    background: url(../img/banner-inside.jpg) no-repeat center;
    filter: brightness(0.6);
}


#inside-main {
    max-width: 80vmax;
    height: fit-content;
    margin: 50px auto;
    line-height: 30px;
    color: #f7f7f7;

}


#project-area {
    max-width: 80vmax;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    line-height: 30px;
    color: #303030;
}

#project-info-area {
    width: 20vmin;
}

#project-main {
    width: 55vmax;
}


.back {
    width: 120px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    font-size: .7rem;
    background: #323232;
    border: 1px solid rgb(212 212 212);
}


.back a {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fefefe;
    border-radius: 3px;

}

.back a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #1b1b1b;
    border-radius: 3px;
}


.project-area {
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
    color: #303030;
}

.back-m {
    display: none;
}

.inside-tit {
    width: 800px;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
}

.inside-info {
    padding: 15px;
    font-size: .5rem;
    line-height: 40px;

}

.project-title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 50px;
    color: #474747;
}

.project-info {
    font-size: 1rem;
    line-height: 50px;
    color: #555555;
}

.insdie-text li::before {
    content: '▪　';
    font-weight: bold;
    color: #525252;
}


.tag-describe {
    width: 100%;
    min-height: 50px;
    text-align: center;
    font-size: .8rem;
    line-height: .5rem;

}


.project {
    background: #000000;
    width: 25vmax;
    height: 30vh;
    margin: 20px;
    align-items: center;
    z-index: 1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.project a {
    max-width: 300px;
    min-width: 100px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}

.project:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.project:hover a img {
    opacity: .6;
}

.project img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}

.project-tit {
    margin-top: -20vh;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 3px 3px 10px #555555;

}

.box-tit {
    margin: 8px auto;
    text-align: center;
    font-size: .5rem;
    line-height: 20px;
}

.box-btn {
    display: none;
    width: 80px;
    margin: 30px auto -80px auto;
    box-shadow: 5px 6px 20px #ffc275cb;
    z-index: 99;
    position: relative;
    padding: 15px 25px;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    font-size: 18px;
    border: #f9c29f 1px solid;
    transition: .5s;
    -webkit-transition: .5s;


}

.box3 {
    max-width: 400px;
    min-width: 100px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 7px;
    overflow: hidden;
    max-height: 550px;

}

.box3 a {
    max-width: 550px;
    min-width: 100px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box3 a:hover img {
    opacity: .6;
}

.box3 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box3 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}



.box2 {
    max-width: 600px;
    min-width: 100px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 7px;
    overflow: hidden;

}

.box2 a {
    max-width: 550px;
    min-width: 100px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box2 a:hover img {
    opacity: .6;
}

.box2 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box2 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}


.box {
    max-width: 1210px;
    min-width: 300px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    box-shadow: 5px -5px 10px #f5f5f5c7;
    border-radius: 7px;
    overflow: hidden;
    background: #626262;


}

.box a {
    max-width: 1200px;
    min-width: 300px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box a:hover img {
    opacity: .6;
}

.box a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.link-btn {
    max-width: 100px;
    background: #21df41;

    padding: 10px 25px;
    margin: 15px auto;
    border-radius: 7px;
    text-align: center;
}

.link-btn a {
    color: #ffffff;
    display: block;
    transform: .5s;
    -moz-transform: .5s;
}

.link-btn:hover {
    opacity: 0.6;
}






/*產品頁*/
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product li {
    max-width: 300px;
    max-height: 450px;
    margin: 10px;
    overflow: hidden;

}

.product li a {
    display: block;
    border: #c2c2c2 1px solid;
}


.product li:hover {
    border: #70cac6 2px solid;
}

/*大型專案*/
.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page li {
    max-width: 400px;
    max-height: 500px;
    margin: 10px;
    overflow: hidden;

}

.page li a {
    display: block;
    border: #dddddd 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.page li a:hover {
    border: #70cac6 2px solid;
}

/*前期作品*/
.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first li {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
    overflow: hidden;

}

.first li a {
    display: block;
    border: #c2c2c2 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.first li a:hover {
    border: #70cac6 2px solid;
}

/*Banner*/



/*內頁小分類頁籤*/

.tag-area {
    max-width: 1600px;
    margin: 30px auto;
    font-size: 15px;
    display: flex;
    /*宣告為 flex*/
    flex-wrap: wrap;
    /*是否換行排列*/
    justify-content: center;
    /* 水平置中*/
    cursor: pointer;

}

.tag {
    width: 150px;
    margin: 5px;
    text-align: center;
    color: #464646;

}


.tag a {
    color: #3c3c3c;
    display: block;
    border: #c5c5c5 1px solid;
    padding: 8px 0;
    border-radius: 40px;
    transition: .2s;
    -webkit-transition: .2s;

}

.tag a:hover {
    background: #4c4c4bfc;
    color: #ffffff;
    border: #747474 1px solid;
}

.tag-now {
    width: 150px;
    margin: 5px;
    text-align: center;
    background: #4a4a4a;
    color: #f9f9f9;
    padding: 8px 0;
    border-radius: 40px;
    cursor: default;

}


#header-m{
    display: none;
}


#m-project{
    display: none;
}


@media only screen and (max-width: 1440px) {


    .side img {
        max-width: 300px;
    }

    .intro-area {
        width: 80vmax;
        min-height: 40vh;
        margin: 3vh auto 0 auto;
        height: auto;
        padding: 0 0 2vh 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        clear: both;
        /* background: #ffffff77;
    backdrop-filter: blur(5px);
    border-radius: 10px; */

    }
    .info{
        width: 40vmax;
    }

    .service-group {
        max-width: 100vw;
        height: fit-content;
        margin: auto;
        padding: 20px 0 5px 0;
    }

    .service{
        width: 15vmax;
    }

    .sop-group{
        max-width: 70vmax;
    }

    #tool-bg {
        max-width: 120vmin;
        margin: auto;
        min-height: 50px;
    }


    #skill-bg {
        width: 100vmax;
        margin: auto;
        min-height: 60vh;
    }


    .case-box{
        padding-top: 32.5vh;
    }

    .case-info{
        margin-bottom: -40vh;
    }

    

}




@media only screen and (max-width: 1024px) {

    .header-container{
        max-width: 90vmax;
    }

    #logo{
        width: 15vmin;
    }

    #case-area{
        min-height: 70vh;
    }


    .case-box{
        padding-top: 23vh;
    }

    .case-info{
        margin-bottom: -30vh;
    }

    .case-tit{
        font-size: 1.8rem;
    }

    .intro-area{
        width: 100vmax;
    }

}


@media only screen and (max-width: 768px) {

    section {
        height: fit-content;
      }

    #header-fixed {
        min-height: 65px;
        background: #181818d8 !important;
        /* display: none; */
        margin-top:-5px !important;
    }

    .header-container {
        max-width: 90vmax;
        padding-top: 0;
    }

    #cssmenu{
        float: right;
    }

    #logo {
        margin-left: 2%;
        width: 40%;
        position: relative;
        float: left;
    }

    #logo img {
        max-width: 120px !important;

    }

    #banner {
       height: 80vh;
    }

    h2 {
        padding-bottom: 5px;
    }


 

    #case {
        display: block;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
    }

    .case{
        display: none;
    }

    #case-area {
        padding-top: 0;
        height: fit-content;
    }

    .case-tit{
        font-size: 1.5rem;
    }

    .case-box {
        max-width: 49%;
        height: auto;
        overflow: hidden;
        text-shadow: 3px 3px 10px rgb(93, 93, 93);
    }

    .case-box a {
        opacity: .8;
        padding-top: 0;
    }

    .case-info {
        margin-bottom: -40vh;
    }


    .service-item {
        font-size: 1.2rem;
    }
 


    #intro-area-bg {
        width: 100%;
        height: fit-content;
        padding-top: 100px;
        background-repeat: no-repeat;
        background-position: bottom right;
    }


    .intro-area {
        width: 100vmin;
        height: fit-content;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        clear: both;

    }

    .photo{
        width: 100%;
    }

    .side img {
        max-width: 220px;
    }

    .info {
        width: 100%;
        padding: 15px 5px;
        line-height: 2.5rem;
        list-style-type: none;
        font-size: 1rem;
    }


    .text {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        font-size: 1rem;
    }

    .text li {
        list-style-type: none;
        margin-left: 5px;
    }

    .text li::before {
        content: '▪　';
        font-weight: bold;
        color: #797979;
    }

    .side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side img {
        max-width: 250px;
    }



    .title {
        font-size: 2.5rem;
        padding-bottom: 15px;
    }

    .job-title{
        font-size: 1.5rem;
    }

    .idea{
        font-size: 1.8rem;
    }

    .slogan{
        font-size: 1.5rem;
    }


    #service-bg {
        padding-top: 10vh;
        height: fit-content;
    }

    .service {
        width: 30vmin;
    }


    #sop-bg {
        width: 100%;
    }

    #sop-bg2 {
        width: 100%;
    }

    .sop-area {
        padding: 15px 10px;
    }

    .sop-num {
        font-size: 100px;
        margin-left: -30px;
        font-weight: bold;
    }

    .sop-item {
        width: 80%;
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .sop-detail {
        width: 100%;
        margin-left: 10%;
        line-height: 2rem;
    }

    .next-step {
        width: 100%;
        padding: 0;
    }

    /*內頁*/
    

    #inside-logo {
        font-weight: bolder;
        padding: 15px;
        margin-top: 5px;
        margin-left: 20px;
        width: 100%;
        font-size: 30px;
        position: relative;
        float: left;

    }

    .wrapper{
        display: none;
    }

    #m-project{
        display: block;
    }
    .project-box{
        width: 90%;
        margin: 50px auto;
    }

    .project-box img{
        border-radius: 5px;  
    }

    /* 作品列表 */
    .project {
        width: 100vmax;
    }

    #project-info-area {
        width: 80vmin;
        margin: auto;
        padding-bottom: 20px;
    }

    #project-main {
        width: 100%;
    }

    #project-area {
        flex-wrap: wrap;
        width: 100%;
    }

    .project-title {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .project-info {
        line-height: 30px;
    }

    .back {
        display: none;
    }



    .back-m {
        display: block;
        width: 150px;
        height: 60px;
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        font-size: 1.2rem;
        background: #3d3d3d;
        border: 1px solid rgb(212 212 212);
    }


    .back-m a {
        width: 150px;
        height: 60px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #9c9c9c;

    }



    .project-info ul li {
        width: 50%;
        float: left;

    }

    .side {
        padding-left: 0;
        line-height: 3rem;
    }

    .r-side {
        width: 90%;
    }

    .job-title{
        text-align: center;
    }

    .name{
        text-align: center;
    }

    .idea{
        text-align: center;
    }

    .slogan{
        text-align: center;
    }

}




@media only screen and (max-width: 425px) {

    .case-info{
        margin-bottom: -25vh;
    }

    .case-box{
        padding-top: 18vh;
    }


    .service{
        width: 35vmin;
    }

    #footer{
        padding-top: 0;
        margin-top: 1vh;
    }
}