@charset "utf-8";

html {
    font-size: 16px;
}

li {
    list-style: none
}

a {
    text-decoration: none;
    transition: .2s;
    -webkit-transition: .2s;
    color: #3d3d3d;
}

a:hover {
    color: #3d3d3d;
}

a:visited {
    color: #3d3d3d;
}


a:active {
    color: #3d3d3d;
}


img {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
}


body {
    font-family: 'Rubik', 'Noto Sans TC', sans-serif;
    color: rgb(68, 67, 67);
    max-width: 100%;
    background: #fdfdfd;
    margin: 0;
    padding: 0;
}



#gotop {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 100px;
    border-radius: 10px;
    background: #383838d1;
    box-shadow: 5px 5px 25px #6e6e6ed1;
    padding: 15px 20px;
    color: #ffffff;
    border: #ffffffa8 2px solid;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;

}

#gotop:hover {
    opacity: .6;

}


#m-header{
    display: none;

}



.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);

}



#btn-area-bg {
    width: 25%;
    float: left;
    height: 100vh;
    font-size: 1rem;
    position: fixed;
    background: #BBD2C5;
    background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    background: linear-gradient(to top, #292E49, #536976, #BBD2C5);

}



#logo {
    padding: 20px;
    width: 25%;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    z-index: 88;
    float: left;

    /* animation-name: loading;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards; */
}

#logo a {
    color: #ececec;
}



#btn-area {
    width: 15vw;
    height: fit-content;
    margin-top: 10vh;
    float: right;
    margin-right: 5px;
    left: 5vw;
    top: 15vh;
}

.btn-box-now {
    width: 100%;
    height: 35px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    background: #f5f5f5;
    padding: 18px 0 5px 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(54 54 54);
    margin-top: 7px;
    box-shadow: -7px 5px 8px #89868661;
    cursor: default;
}



.btn-box {
    width: 100%;
    margin: 0 3px;
    margin-top: 8px;
    text-align: center;
    background: #f9f9f938;
    backdrop-filter: blur(3px);
    border-top: #eeeeee 2px solid;
    border-left: #eeeeee 2px solid;
    border-bottom: #eeeeee 2px solid;
    display: inline-block;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.btn-box a {
    padding: 15px 0 0 0;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 500;
    transition: .2s;
    -webkit-transition: .2s;
    min-height: 35px;
}

.btn-box a:hover {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: block;
    background: #ffffffe8;
    color: #222222;
    min-height: 37px;
}





mark {
    padding: 2px 1px;
    border-radius: 6px;
    background: linear-gradient(transparent 25%, rgba(255, 255, 255, 0) 50%, #effff3 65%, #ccfd8a 85%, transparent 90%)
        /* background: linear-gradient(transparent 25%, rgba(255, 255, 255, 0) 50%, #effff3 65%, #ccfd8a 85%, transparent 90%);
    color: #3f37bb; */
}




#inside-logo {
    font-weight: bolder;
    padding: 15px;
    margin-top: 5px;
    width: 30%;
    font-size: 30px;
    position: relative;
    float: left;
    clear: both;

}





#inside-main {
    max-width: 85vmin;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #292929;
}

.inside-tit {
    width: 100%;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    padding: 3rem 0 1rem 0;
}

.inside-text {
    max-width: 800px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.5rem;

}

.insdie-text li {
    padding: .4rem 0;
}



.insdie-text li::before {
    content: '▪　';
    font-size: .2rem;
    font-weight: normal;
    color: #525252;
    margin-left: -1.5rem;
}


.tag-describe {
    width: 90%;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #575757;


}

.portfolio-area {
    max-width: 71%;
    padding: 5vh 2%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background: #f5f5f5;
}

.page-title{
    width: 100%;
    padding: 5px;
    color: #ffffff;
}

.box6 {
    max-width: 200px;
    min-width: 100px;
    max-height: 550px;
    height: fit-content;
    margin: 15px 10px;
    box-shadow: 5px 5px 15px #e0e0e0c7;
    align-items: center;
    z-index: 1;
    position: relative;
    /* border: 1px solid #e3e3e3; */
    border-radius: 6px;
    overflow: hidden;


}

.box6 a {
    max-width: 200px;
    min-width: 100px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}


.box6:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box6:hover a img {

    opacity: .6;
}



.box5 {
    max-width: 220px;
    min-width: 100px;
    max-height: 500px;
    height: fit-content;
    margin: 30px 10px;
    border: 1px solid #e3e3e3db;
    align-items: center;
    z-index: 1;
    position: relative;
    /* border: 1px solid #e3e3e3; */
    border-radius: 6px;
    overflow: hidden;

}

.box5 a {
    max-width: 250px;
    min-width: 100px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}


.box5:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}


.box5:hover a img {
    opacity: .6;

}

.box4 {
    max-width: 250px;
    min-width: 200px;
    height: fit-content;
    border: 1px solid #ffffff69;
    margin: 50px 15px;
    z-index: 1;
    position: relative;
    border-radius: 6px;
    max-height: 550px;
    overflow: hidden;
    /* box-shadow: 6px 5px 20px 0px #9d9d9d87; */

}

.box4 a {
    max-width: 300px;
    min-width: 100px;
    border-radius: 6px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}


.box4 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box4:hover img {
    opacity: .6;
}

.box4 img {
    border-radius: 6px;
}

.box-tit {
    width: fit-content;
    padding: 7px 25px;
    margin: 15px auto;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    background: #d4d4d467;
    border-radius: 20px;
}

.box-btn {
    display: none;
    width: 80px;
    margin: 30px auto -80px auto;
    box-shadow: 5px 6px 20px #ffc275cb;
    z-index: 99;
    position: relative;
    padding: 15px 25px;
    border-radius: 6px;
    text-align: center;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    font-size: 18px;
    border: #f9c29f 1px solid;
    transition: .5s;
    -webkit-transition: .5s;


}

.box3 {
    max-width: 400px;
    min-width: 100px;
    height: fit-content;
    margin: 50px 15px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 6px;
    overflow: hidden;
    max-height: 550px;
    box-shadow: 5px 5px 15px #e0e0e0c7;

}

.box3 a {
    max-width: 550px;
    min-width: 100px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box3 a:hover img {
    opacity: .6;
}

.box3 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box3 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}



.box2 {
    max-width: 600px;
    min-width: 100px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 6px;
    overflow: hidden;


}

.box2 a {
    max-width: 550px;
    min-width: 100px;
    height: fit-content;

    transition: 1s;
    -webkit-transition: 1s;
}


.box2 a:hover img {
    opacity: .6;
    box-shadow: 5px 5px 15px #e0e0e0c7;
}

.box2 a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.box2 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}


.box {
    max-width: 1210px;
    min-width: 300px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    box-shadow: 5px 5px 20px #9b9a9a45;
    border-radius: 6px;
    overflow: hidden;
    background: #626262;


}

.box a {
    max-width: 1200px;
    min-width: 300px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box a:hover img {
    opacity: .6;
}

.box a:hover .box-btn {
    display: block;
    z-index: 1;
    position: relative;

}

.link-btn {
    max-width: 100px;
    background: #21df41;

    padding: 10px 25px;
    margin: 15px auto;
    border-radius: 6px;
    text-align: center;
}

.link-btn a {
    color: #ffffff;
    display: block;
    transform: .5s;
    -moz-transform: .5s;
}

.link-btn:hover {
    opacity: 0.6;
}






/*產品頁*/
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product li {
    max-width: 300px;
    max-height: 450px;
    margin: 10px;
    overflow: hidden;

}

.product li a {
    display: block;
    border: #c2c2c2 1px solid;
}


.product li:hover {
    border: #70cac6 2px solid;
}

/*大型專案*/
.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page li {
    max-width: 400px;
    max-height: 500px;
    margin: 10px;
    overflow: hidden;

}

.page li a {
    display: block;
    border: #dddddd 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.page li a:hover {
    border: #70cac6 2px solid;
}

/*前期作品*/
.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first li {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
    overflow: hidden;

}

.first li a {
    display: block;
    border: #c2c2c2 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.first li a:hover {
    border: #70cac6 2px solid;
}




footer {
    width: 100%;
    min-height: 50px;
    margin-top: 50px;
    margin: auto;
    font-size: 1rem;
    color: #6e6d6d;
    text-align: center;
    clear: both;

}




@media only screen and (max-width: 1440px) {

    #photo img {
        max-width: 100%;
    }

    #intro-area {
        width: 25vw;
        min-height: 60vh;
        height: auto;
        padding: 20vh 0 0 2vw;

        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        clear: both;
        /* background: #ffffff77;
    backdrop-filter: blur(5px);
    border-radius: 10px; */

    }


    #tool-bg {
        width: 100vw;
        margin: auto;
        height: fit-content;
    }


    #skill-bg {
        width: 100vw;
        height: fit-content;
        margin: auto;
        padding: 5vh 0;
    }

}


@media only screen and (max-width: 768px) {

    
    #m-header{
        display: block;
        width: 100%;
        height: 70px;
        background: linear-gradient(90deg, #d1d1d180, #cecece);
        border-bottom: 2px solid #d6d6d6;
        position: fixed;
        z-index: 88;
    }

    #m-logo{
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 3vh;
        margin-left: 5vw;
        float: left;
        height: 40px;
        position: relative;
        z-index: 999;
       
    }


    .portfolio-area{
        max-width: 100%;
        padding-top: 100px;
    }
 

    .tag-describe{
        width: 80%;
        margin: auto;
    }


    #btn-area-bg{
        display: none;
    }

    #btn-area{
        width: 80%;
        margin: 10px auto;
    }

    .btn-box-now{
        width: 46%;
        border-radius: 6px;
    }

    .btn-box{
        width: 46%;
        border-radius: 6px;
        border: 2px solid #ffffff;
    }

    .box{
        max-width: 85vw;
        margin: 3vh auto;
    }

    .box2{
        max-width: 85vw;
        margin: 3vh auto;
    }

    .box3{
        max-width: 85vw;
        margin: 3vh auto;
    }
    .box4{
        max-width: 85vw;
        margin: 3vh auto;
    }


    .box5{
        max-width: 85vw;
        margin: 3vh auto;
    }


}