@charset "utf-8";

html {
    font-size: 16px;
}

li {
    list-style: none
}

a {
    text-decoration: none;
    transition: .2s;
    -webkit-transition: .2s;
    color: #3d3d3d;
}

a:hover {
    color: #3d3d3d;
    transition: .3s ease-out;

}

a:visited {
    color: #3d3d3d;
}


a:active {
    color: #3d3d3d;
}


img {
    max-width: 100%;
    height: auto;
    border: none;
    display: block;
}


body {
    font-family: 'Rubik', 'Noto Sans TC', sans-serif;
    color: rgb(68, 67, 67);
    max-width: 100%;
    background: #fdfdfd;
    margin: 0;
    padding: 0;
}

.back{
    text-align: center;
    margin: auto;
    margin-top: 3vh;
}

.back a{
    color: #404040;
    border-bottom: 1px dashed  #bdbdbd;
}

#gotop {
    display: none;
    position: fixed;
    right: 5%;
    bottom: 100px;
    border-radius: 10px;
    background: #383838d1;
    box-shadow: 5px 5px 25px #6e6e6ed1;
    padding: 15px 20px;
    color: #ffffff;
    border: #ffffffa8 2px solid;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    

}

#gotop:hover {
    opacity: .6;
    transition: .3s ease-out;

}


#m-header {
    display: none;

}



.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);

}



#btn-area-bg {
    width: 20%;
    float: left;
    height: 100vh;
    font-size: 1rem;
    position: fixed;
    background: #ededed;
    /* background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
    background: linear-gradient(to top, #292E49, #536976, #BBD2C5); */

}



#logo {
    padding: 20px;
    width: 80%;
    margin: 2vh auto 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    z-index: 88;
}

#logo a {
    color: #8b8b8b;
}

#logo a:hover {
    color: #414141;
    transition: .2s ease-out;
}

.portfolio-tit {
    width: 80%;
    margin: auto;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3rem;
    /* text-align: center; */
    color: #dddddd;
}

#btn-area {
    width: 80%;
    margin: 10vh auto 0 auto;
    height: fit-content;


}

.btn-box-now {
    width: 100%;
    height: 70px;
    /* margin: 0 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e7e7;
    border-radius: 3px;
    /* border-bottom-left-radius: 6px; */
    /* border-top-left-radius: 6px; */
    font-weight: 500;
    font-size: 1.1rem;
    color: rgb(177 177 177);
    margin-top: 7px;
    /* box-shadow: -7px 5px 8px #89868661; */
    cursor: default;
}



.btn-box {
    width: 100%;
    height: 70px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 8px; */
    background: #f9f9f991;
    border-radius: 5px;
    /* border: #666666 2px solid; */
    /* border-top: #eeeeee 2px solid; */
    /* border-left: #eeeeee 2px solid; */
    /* border-bottom: #eeeeee 2px solid; */

}

.btn-box a {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(88 88 88);
    font-weight: 500;
    border-radius: 5px;
    transition: .2s;
    -webkit-transition: .2s;
}

.btn-box a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffffe8;
    border-radius: 5px;
    color: #222222;
    transition: .4s ease-out;
}





mark {
    padding: 2px 1px;
    border-radius: 6px;
    background: linear-gradient(transparent 25%, rgba(255, 255, 255, 0) 50%, #effff3 65%, #ccfd8a 85%, transparent 90%)
        /* background: linear-gradient(transparent 25%, rgba(255, 255, 255, 0) 50%, #effff3 65%, #ccfd8a 85%, transparent 90%);
    color: #3f37bb; */
}




#inside-logo {
    font-weight: bolder;
    padding: 15px;
    margin-top: 5px;
    width: 30%;
    font-size: 30px;
    position: relative;
    float: left;
    clear: both;

}





#inside-main {
    max-width: 85vmin;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #292929;
}

.inside-tit {
    width: 100%;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    padding: 3rem 0 1rem 0;
}

.inside-text {
    max-width: 800px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.5rem;

}

.insdie-text li {
    padding: .4rem 0;
}



.insdie-text li::before {
    content: '▪　';
    font-size: .2rem;
    font-weight: normal;
    color: #525252;
    margin-left: -1.5rem;
}


.tag-describe {
    width: 90%;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #d7d7d7;
    margin-bottom: 3vh;
    font-weight: 300;


}

.portfolio-area {
    max-width: 70%;
    padding: 5vh 5%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background: #666666;
}

.page-title {
    width: 100%;
    padding: 5px;
    color: #ffffff;
}

.box6 {
    max-width: 200px;
    max-height: 550px;
    height: fit-content;
    margin: 15px 10px;
    box-shadow: 5px 5px 15px #e0e0e0c7;
    align-items: center;
    z-index: 1;
    position: relative;
    /* border: 1px solid #e3e3e3; */
    border-radius: 6px;
    overflow: hidden;

}

.box6 a {
    max-width: 200px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}



.box6:hover::after{
    content: '瀏覽大圖';
    pointer-events: none;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    border: #f9c29f 2px solid;
    border-radius: 6px;
    box-shadow: 5px 6px 20px #ffc275cb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 37%;

}

.box6:hover a img {
    transition: .3s ease-out;
    opacity: .5;
}



.box5 {
    width: 17%;
    max-height: 450px;
    margin: 40px 10px;
    /* border: 1px solid #e3e3e3db; */
    align-items: center;
    z-index: 1;
    position: relative;
    /* border: 1px solid #e3e3e3; */
    border-radius: 6px;
    overflow: hidden;
    position: relative;

}

.box5 a {
    width: 17%;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}

.box5 img{
    border-radius: 6px;
}



.box5:hover::after{
    content: '瀏覽大圖';
    pointer-events: none;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    border: #f9c29f 2px solid;
    border-radius: 6px;
    box-shadow: 5px 6px 20px #ffc275cb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 20%;

}


.box5:hover a img {
    transition: .3s ease-out;
    opacity: .5;

}

.box4 {
    width: 22%;
    height: fit-content;
    margin: 30px 15px;
    z-index: 1;
    position: relative;
    border-radius: 6px;
    max-height: 550px;
    overflow: hidden;
    position: relative;
    /* box-shadow: 6px 5px 20px 0px #9d9d9d87; */

}

.box4 a {
    max-width: 300px;
    border-radius: 6px;
    height: fit-content;
    transition: .5s;
    -webkit-transition: .5s;
}



.box4:hover::after{
    content: '瀏覽大圖';
    pointer-events: none;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    border: #f9c29f 2px solid;
    border-radius: 6px;
    box-shadow: 5px 6px 20px #ffc275cb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 25%;

}


.box4 img{
    border-radius: 5px;
}


.box4:hover img {
    opacity: .5;
    transition: .3s ease-out;
}


.box-tit {
    width: fit-content;
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 10px;
    margin: auto;
    padding: 7px 25px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    background: #ffffffd9;
    border-radius: 3px;
    color: #404040;
    justify-content: center;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 20px #ccc;
}




.box3 {
    width: 31%;
    height: fit-content;
    max-height: 430px;
    margin: 50px 15px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 6px;
    overflow: hidden;
    position: relative;

}

.box3 a {
    max-width: 550px;
    height: fit-content;
}


.box3:hover img {
    opacity: .5;
    transition: opacity .3s ease-out;

}


.box3:hover::after{
    content: '瀏覽大圖';
    pointer-events: none;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    border: #f9c29f 2px solid;
    border-radius: 6px;
    box-shadow: 5px 6px 20px #ffc275cb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 33%;

}

.box2 {
    max-width: 600px;
    height: fit-content;
    margin:10px;
    /* border: 1px solid #f5f5f5; */
    border-radius: 6px;
    overflow: hidden;
    position: relative;


}

.box2 a {
    max-width: 550px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box2 a:hover img {
    opacity: .5;
    transition: .3s ease-out;
}


.box2:hover::after{
    content: '瀏覽大圖';
    pointer-events: none;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    border: #f9c29f 2px solid;
    border-radius: 6px;
    box-shadow: 5px 6px 20px #ffc275cb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 37%;

}

.box2 img {
    box-shadow: 5px 5px 15px #e0e0e0c7;
}


.box {
    max-width: 1210px;
    height: fit-content;
    margin: 10px;
    /* border: 1px solid #f5f5f5; */
    box-shadow: 5px 5px 20px #9b9a9a45;
    border-radius: 6px;
    overflow: hidden;
    background: #626262;
    position: relative;


}

.box a {
    max-width: 1200px;
    height: fit-content;
    transition: 1s;
    -webkit-transition: 1s;
}


.box a:hover img {
    opacity: .5;
    transition: .3s ease-out;
}

.box:hover::after{
    content: '瀏覽大圖';
    pointer-events: none;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    border: #f9c29f 2px solid;
    border-radius: 6px;
    box-shadow: 5px 6px 20px #ffc275cb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 45%;

}

.box-btn {
    display: none;
    width: 80px;
    margin: 30px auto -80px auto;
    box-shadow: 5px 6px 20px #ffc275cb;
    background-color: rgb(255 130 23 / 60%);
    backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    color: #ffffff;
    border: #f9c29f 1px solid;
    border-radius: 6px;
    z-index: 99;
    position: relative;
    padding: 15px 25px;
    text-align: center;
    font-size: 18px;
    transition: .5s;
    -webkit-transition: .5s;

}
.box-tit4{
    width: fit-content;
    display: flex;
    margin: 10px auto;
    padding: 7px 25px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    background: #6c6c6c;
    border-radius: 10px;
    color: #afafaf;
    justify-content: center;
}


.link-btn {
    max-width: 100px;
    background: #21df41;

    padding: 10px 25px;
    margin: 15px auto;
    border-radius: 6px;
    text-align: center;
}

.link-btn a {
    color: #ffffff;
    display: block;
    transform: .5s;
    -moz-transform: .5s;
}

.link-btn:hover {
    opacity: 0.6;
    transition: .3s ease-out;
}






/*產品頁*/
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product li {
    max-width: 300px;
    max-height: 450px;
    margin: 10px;
    overflow: hidden;

}

.product li a {
    display: block;
    border: #c2c2c2 1px solid;
}


.product li:hover {
    border: #70cac6 2px solid;
    transition: .3s ease-out;
}

/*大型專案*/
.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page li {
    max-width: 400px;
    max-height: 500px;
    margin: 10px;
    overflow: hidden;

}

.page li a {
    display: block;
    border: #dddddd 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.page li a:hover {
    border: #70cac6 2px solid;
    transition: .3s ease-out;
}

/*前期作品*/
.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first li {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
    overflow: hidden;

}

.first li a {
    display: block;
    border: #c2c2c2 1px solid;
    transition: .2s;
    -webkit-transition: .2s;
}


.first li a:hover {
    border: #70cac6 2px solid;
    transition: .3s ease-out;
}




footer {
    width: 100%;
    min-height: 50px;
    margin-top: 50px;
    margin: auto;
    font-size: 1rem;
    color: #878787;
    text-align: center;
    clear: both;

}



@media only screen and (max-width: 1440px) {

    #photo img {
        max-width: 100%;
    }

    #intro-area {
        width: 25vw;
        min-height: 60vh;
        height: auto;
        padding: 20vh 0 0 2vw;

        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        clear: both;
        /* background: #ffffff77;
    backdrop-filter: blur(5px);
    border-radius: 10px; */

    }

    .portfolio-tit {

        font-size: 2.5rem;
 
    }
    #tool-bg {
        width: 100vw;
        margin: auto;
        height: fit-content;
    }


    #skill-bg {
        width: 100vw;
        height: fit-content;
        margin: auto;
        padding: 5vh 0;
    }
    

    .box5{
        width: 28%;
        margin: 25px 15px;


    }
    .box4{
        width: 30%;
        margin: 20px 10px;


    }


    .box3{
        width: 29%;
        margin: 20px 10px;


    }

    .box2{
        width: 48%;
        margin: 10px 10px;

    }

}


@media only screen and (max-width: 1024px) {
    .box2{
        width: 47%;
        margin: 10px 10px;
    
    }
    
    }

@media only screen and (max-width: 768px) {

    #m-header {
        display: block;
        width: 100%;
        height: 70px;
        background: linear-gradient(90deg, #ffffffcc, #e3e3e3);
        border-bottom: 2px solid #d6d6d6;
        position: fixed;
        z-index: 88;
    }

    #m-logo {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 3vh;
        margin-left: 5vw;
        float: left;
        height: 40px;
        position: relative;
        z-index: 999;

    }

    .back{
        width: 100%;
        text-align: left;
        margin: auto;
        font-size: 1rem;
        border-top: 1px solid #e3e3e3;
    }
    
    .back a{
        color: #404040;
        border-bottom: 0;
        padding: 25px 35px;
        display: block;
    }


    .portfolio-area {
        max-width: 100%;
        padding-top: 100px;
    }


    .tag-describe {
        width: 80%;
        margin: auto;
    }


    #btn-area-bg {
        display: none;
    }

    #btn-area {
        width: 80%;
        margin: 10px auto;
    }

    .btn-box-now {
        width: 46%;
        border-radius: 6px;
    }

    .btn-box {
        width: 46%;
        border-radius: 6px;
        border: 2px solid #ffffff;
    }

    .box {
        width: 95%;
        margin: 5px;
    }

    .box2 {
        width: 47%;
        margin: 5px;
    }

    .box3 {
        width: 40vw;
        margin: 5px;
    }

    .box4 {
        width: 40vw;
        margin: 3vh auto;
    }


    .box5 {
        width: 40vw;
        margin: 3vh auto;
    }


}

@media only screen and (max-width: 425px) {


    #m-header {
        display: block;
        width: 100%;
        height: 70px;
        background: linear-gradient(90deg, #ffffffcc, #e3e3e3);
        border-bottom: 2px solid #d6d6d6;
        position: fixed;
        z-index: 88;
    }

    #m-logo {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 3vh;
        margin-left: 5vw;
        float: left;
        height: 40px;
        position: relative;
        z-index: 999;

    }




    .portfolio-area {
        max-width: 100%;
        padding-top: 100px;
    }


    #btn-area-bg {
        display: none;
    }

    #btn-area {
        width: 80%;
        margin: 10px auto;
    }

    .btn-box-now {
        width: 46%;
        border-radius: 6px;
    }

    .btn-box {
        width: 46%;
        border-radius: 6px;
        border: 2px solid #ffffff;
    }



    .tag-describe {
        font-size: 1.2rem;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }


    .box {
        width: 95%;
        margin: 10px auto;
    }

    .box2 {
        width: 95%;
        margin: 10px auto;
    }

    .box3 {
        width: 95%;
        margin: 10px auto;
    }

    .box4 {
        width: 95%;
        margin: 10px auto;
        max-height: 250px;
    }


    .box5 {
        width: 45%;
        max-height: 250px;
        margin: 10px auto;
    }

    .next-btn a{
        position: relative !important;
    }
}